.visitors {
  height: fit-content !important;

  nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filterArea {
      width: 100%;
      display: inline-flex;
      align-items: center;

      >div {
        padding: 0;

        &:first-child {
          margin-bottom: 10px;
        }
      }

      .row {
        >div {
          margin-bottom: 10px;
          padding-left: 0;
        }
      }

      .mulitiselect {
        display: flex;

        nb-select {
          margin-right: 5px;

          &:nth-child(2) {
            flex: 1;
            margin-right: 0;
          }
        }
      }
    }
  }

  nb-card-body {
    overflow: hidden;

    .legendArea {
      flex-wrap: nowrap;
      margin: 1rem 0 2rem;
    }
  }
}

@media screen and (max-width: 1100px) {
  .visitors {
    nb-card-header {
      .filterArea {
        .row {
          flex-wrap: wrap;

          >div {
            width: 100% !important;
          }
        }

        .mulitiselect {
          width: 100%;
        }
      }
    }
  }
}
