<nb-card class="visitors" size="large" [nbSpinner]="loading">
  <nb-card-header>
    <form [formGroup]="form">
      <div class="filterArea">
        <div class="col-2">統計資料</div>
        <div class="col-10 row">
          <div class="col-12 col-lg-5">
            <nb-select fullWidth formControlName="system" (selectedChange)="changeSystem($event)">
              <nb-option value="">全部</nb-option>
              <nb-option *ngFor="let system of systemList" [value]="system.id">{{ system.systemName}}</nb-option>
            </nb-select>
          </div>
          <div class="col-12 col-lg-5">
            <nb-select fullWidth formControlName="service" (selectedChange)="changeService($event)">
              <nb-option value="">全部</nb-option>
              <nb-option *ngFor="let service of showServiceList" [value]="service.id">{{
            service.serviceName}}</nb-option>
            </nb-select>
          </div>
          <div class="col-12 col-lg-2">
            <nb-select fullWidth [(selected)]="selectedType" (selectedChange)="changeType($event)">
              <nb-option *ngFor="let type of typeList" [value]="type.value">{{
            type.type}}</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
      <div class="filterArea">
        <div class="col-2">時間選擇</div>
        <div class="col-10 row">
          <div class="col-12 col-lg-5 mulitiselect">
            <ng-container *ngIf="selectedType === 'date'">
              <input nbInput fullWidth [nbDatepicker]="fromDatepicker" placeholder="起日" formControlName="startDate">
              <nb-datepicker #fromDatepicker format="yyyy/MM/dd" (dateChange)="changeDate($event,'startDate')" [max]="form.get('endDate').value">
              </nb-datepicker>
            </ng-container>
            <ng-container *ngIf="selectedType === 'year'">
              <nb-select fullWidth formControlName="startYear" (selectedChange)="changeDate($event,'startYear')">
                <nb-option *ngFor="let year of yearList" [value]="year">{{year}}</nb-option>
              </nb-select>
            </ng-container>
            <ng-container *ngIf="selectedType === 'month'">
              <nb-select fullWidth formControlName="startYear" (selectedChange)="changeDate($event,'startYearMonth')">
                <nb-option *ngFor="let year of yearList" [value]="year">{{year}}</nb-option>
              </nb-select>
              <nb-select fullWidth formControlName="startMonth" (selectedChange)="changeDate($event,'startMonth')">
                <nb-option *ngFor="let month of monthList" [value]="month">{{month}}月</nb-option>
              </nb-select>
            </ng-container>
            <span class="warnText"
              *ngIf="(form.get('startDate').errors) || (form.get('startMonth').errors) || (form.get('startYear').errors)">
              <span
                *ngIf="form.get('startDate').errors?.range || form.get('startMonth').errors?.range || form.get('startYear').errors?.range"
                class="text-red">起始日期範圍有誤</span>
            </span>
          </div>
          <div class="col-12 col-lg-5 mulitiselect">
            <ng-container *ngIf="selectedType === 'date'">
              <input nbInput fullWidth [nbDatepicker]="toDatepicker" placeholder="迄日" formControlName="endDate">
              <nb-datepicker #toDatepicker format="yyyy/MM/dd" (dateChange)="changeDate($event,'endDate')" [min]="form.get('startDate').value">
              </nb-datepicker>
            </ng-container>
            <ng-container *ngIf="selectedType === 'year'">
              <nb-select fullWidth formControlName="endYear" (selectedChange)="changeDate($event,'endYear')">
                <nb-option *ngFor="let year of yearList" [value]="year">{{year}}</nb-option>
              </nb-select>
            </ng-container>
            <ng-container *ngIf="selectedType === 'month'">
              <nb-select fullWidth formControlName="endYear" (selectedChange)="changeDate($event,'endYearMonth')">
                <nb-option *ngFor="let year of yearList" [value]="year">{{year}}</nb-option>
              </nb-select>
              <nb-select fullWidth formControlName="endMonth" (selectedChange)="changeDate($event,'endMonth')">
                <nb-option *ngFor="let month of monthList" [value]="month">{{month}}月</nb-option>
              </nb-select>
            </ng-container>
            <span class="warnText"
              *ngIf="(form.get('endDate').errors) || (form.get('endMonth').errors) || (form.get('endYear').errors)">
              <span
                *ngIf="form.get('endDate').errors?.range || form.get('endMonth').errors?.range || form.get('endYear').errors?.range"
                class="text-red">結束日期範圍有誤</span>
            </span>
          </div>
        </div>
      </div>
      <div class="filterArea">
        <div class="col-2">匯出報表</div>
        <div class="col-10 row">
          <button nbButton class="btn-blue" (click)="exportReportBussiness()">電金部</button>
          <button nbButton class="btn-blue" (click)="exportReportCustomer()" style="margin-left: 1rem">客服部</button>
        </div>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <h3>服務客戶數</h3>
    <div class="row">
      <ngx-legend-chart [legendItems]="chartLegend" class="col-7 col-sm-7 legendArea"></ngx-legend-chart>
      <ngx-visitors-analytics-chart [resultData]="resultData" [req]="req"></ngx-visitors-analytics-chart>
    </div>
    <ngx-slide-out [showVisitorsStatistics]="true">
      <ngx-visitors-statistics [staticsResult]="staticsResult"></ngx-visitors-statistics>
    </ngx-slide-out>
  </nb-card-body>
</nb-card>
