<div class="header-container">
    <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
            <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><span>{{header.title}}</span></a>
    </div>
</div>

<div class="header-container">
    <nb-actions size="small">
        <nb-action class="user-action" *ngIf="user">
            <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="user-menu" size="medium" shape="round"
                [onlyPicture]="userPictureOnly" [name]="user?.fullName" [picture]="user?.picture"
                [title]="user?.account + ' / ' + user?.title">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>