<div class="webTitle">
    <div class="menuBtn" [ngClass]="isActive ? 'active' : ''" (click)="toggleSidebar()">
        <nb-icon icon="menu-outline"></nb-icon>
    </div>
    <h1 class="logoTitle" (click)="navigateHome()">
        <img src="assets/images/logo.svg">
        <p>{{header.title}}</p>
    </h1>
</div>
<div class="auxiliary">
    <nb-actions size="small">
        <nb-action class="user-action" *ngIf="user">
            <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="user-menu" size="medium" shape="round"
                [onlyPicture]="userPictureOnly" [name]="user?.fullName" [picture]="user?.picture"
                [title]="user?.account + ' / ' + user?.title">
            </nb-user>
        </nb-action>
    </nb-actions>
</div>