<div class="fieldGroup" [ngClass]="{'error': hasError(), 'essential': required}" [formGroup]="form">
  <label>{{title}}</label>
  <div class="checkboxGroup" [formGroupName]="formGroupName">
    <ng-container *ngIf="!!selectList?.options">
        <nb-checkbox status="basic" *ngFor="let option of selectList.options" [formControlName]="option.key">{{ option.val }}</nb-checkbox>
    </ng-container>
    <ng-container *ngIf="!selectList?.options">
        <nb-checkbox status="basic" *ngFor="let enum of enumList |keyvalue" [formControlName]="enum.key">{{ enum.value }}</nb-checkbox>
    </ng-container>
  </div>
  <div class="note errorText">
      <nb-icon icon="alert-triangle"></nb-icon>
      <p *ngIf=" (fg?.dirty || fg?.touched) && fg?.errors?.required; else otherErr">此為必填欄位</p>
      <ng-template #otherErr>{{firstErr}}</ng-template>
  </div>
</div>