<div class="pageTitle">
  <h1>排程管理</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>{{actionName}}排程</h2>
      </nb-card-header>
      <nb-card-body [formGroup]="validateForm">
        <div class="row">
          <basic-input class="col-12 col-lg-6" title="排程名稱" [form]="validateForm" ctlName="jobName"></basic-input>
          <dropdown class="col-12 col-lg-6" title="狀態" [form]="validateForm" ctlName="status"></dropdown>
          <div class="fieldGroup essential col-12 col-lg-6">
            <radio title="排程頻率" [form]="validateForm" ctlName="executionFrequency" [selectList]="{options: frequencyList, key: 'key', val: 'val'}" (valueChange)="changeFrequencyType($event)"></radio>
            <div *ngIf="validateForm.get('executionFrequency').value?.toLowerCase() === 'daily'" class="multi">
              <nb-select fullWidth placeholder="時" formControlName="hour">
                  <nb-option *ngFor="let val of hour" [value]="val">{{ val }}</nb-option>
              </nb-select>
              <span>：</span>
              <nb-select fullWidth placeholder="分" formControlName="minute">
                <nb-option *ngFor="let val of minute" [value]="val">{{ val }}</nb-option>
              </nb-select>
            </div>
            <div *ngIf="validateForm.get('executionFrequency').value?.toLowerCase() !== 'daily'" class="multi">
              <nb-select fullWidth placeholder="日" formControlName="daily">
                <nb-option *ngFor="let val of daily" [value]="val">{{ val }}</nb-option>
            </nb-select>
            <span>：</span>
              <nb-select fullWidth placeholder="時" formControlName="hour">
                  <nb-option *ngFor="let val of hour" [value]="val">{{ val }}</nb-option>
              </nb-select>
              <span>：</span>
              <nb-select fullWidth placeholder="分" formControlName="minute">
                <nb-option *ngFor="let val of minute" [value]="val">{{ val }}</nb-option>
              </nb-select>
            </div>
            <div class="note errorText">
                <nb-icon icon="alert-triangle"></nb-icon>
                <p>欄位錯誤訊息</p>
            </div>
          </div>
          <basic-input class="col-12 col-lg-6" title="檔案存放地方" [form]="validateForm" ctlName="filePath"></basic-input>
        </div>
      </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-header>
        <h2>名單列表</h2>
    </nb-card-header>
    <nb-card-body>
        <div class="rightBox">
          <button nbButton status="primary" size="medium" (click)="add()">新增</button>
        </div>
        <ng2-smart-table [settings]="gridDefine" [source]="restDataSource"></ng2-smart-table>
        <paginator [source]="restDataSource" [paginator]="paginator"></paginator>
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
          <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="validateForm.invalid">儲存</button>
      </div>
  </div>
</div>
