<!-- 頁面標題（可視需求增減功能按鈕）-->
<div class="pageTitle">
    <h1>頁面標題</h1>
    <button nbButton status="primary" size="tiny" class="iconBtn"><nb-icon icon="edit-outline"></nb-icon></button>
    <button nbButton status="success" size="tiny" class="iconBtn"><nb-icon icon="copy-outline"></nb-icon></button>
    <button nbButton status="info" size="small"><nb-icon icon="share-outline"></nb-icon>分享</button>
</div>

<!-- 頁面內容 -->
<div class="pageContent">

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 提示訊息</p>
    </div>

    <!-- 提示訊息 -->
    <div class="noteText">
        <nb-icon icon="info-outline"></nb-icon>
        <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
    </div>

    <!-- 警告訊息 -->
    <div class="noteText alert">
        <nb-icon icon="info-outline"></nb-icon>
        <p>警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息</p>
    </div>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 標籤區塊</p>
    </div>

    <!-- 卡片區塊 - 標籤 -->
    <nb-card>
        <nb-card-body>
            <!-- 文字區塊 -->
            <div class="textBlock">
                <ul>
                    <li>兩種樣式：純底色(filled)、外框(outline)</li>
                    <li>六種顏色：主題藍(primary)、藍(info)、綠(success)、紅(danger)、橘(warning)、灰(basic)</li>
                </ul>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 標籤</p>
            </div>

            <!-- 標籤列表 -->
            <div class="row mar_b_1d">
                <!-- 純底色標籤 -->
                <nb-tag-list class="col-12 mar_b_0d5">
                    <nb-tag status="primary" appearance="filled" text="primary"></nb-tag>
                    <nb-tag status="info" appearance="filled" text="info"></nb-tag>
                    <nb-tag status="success" appearance="filled" text="success"></nb-tag>
                    <nb-tag status="warning" appearance="filled" text="warning"></nb-tag>
                    <nb-tag status="danger" appearance="filled" text="danger"></nb-tag>
                    <nb-tag status="basic" appearance="filled" text="basic"></nb-tag>
                </nb-tag-list>
                <!-- 外框標籤 -->
                <nb-tag-list class="col-12">
                    <nb-tag status="primary" appearance="outline" text="primary"></nb-tag>
                    <nb-tag status="info" appearance="outline" text="info"></nb-tag>
                    <nb-tag status="success" appearance="outline" text="success"></nb-tag>
                    <nb-tag status="warning" appearance="outline" text="warning"></nb-tag>
                    <nb-tag status="danger" appearance="outline" text="danger"></nb-tag>
                    <nb-tag status="basic" appearance="outline" text="basic"></nb-tag>
                </nb-tag-list>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 標籤 + 文字</p>
            </div>

            <!-- 標籤下拉選單 -->
            <div class="tagFilter">
                <nb-select placeholder="請選擇標籤所屬單位" [(selected)]="selectedItem" size="small" shape="round" hero>
                    <nb-option value="0">標籤所屬單位：全部</nb-option>
                    <nb-option value="1">標籤所屬單位：數位金融處</nb-option>
                    <nb-option value="2">標籤所屬單位：消金業務處</nb-option>
                    <nb-option value="3">標籤所屬單位：財富管理處</nb-option>
                    <nb-option value="4">標籤所屬單位：信用卡暨支付處</nb-option>
                </nb-select>
            </div>

            <!-- 標籤 + 文字區塊 -->
            <div class="tagBlock">
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤文字"></nb-tag>
                    <p class="tagContent">標籤內容敘述，標籤內容敘述標籤內容敘述標籤內容敘述。</p>
                </div>
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤"></nb-tag>
                    <p class="tagContent">標籤內容敘述，標籤內容敘述標籤內容敘述標籤內容敘述標籤內容敘述，標籤內容敘述標籤內容敘述標籤內容敘述。</p>
                </div>
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤文字標籤文字"></nb-tag>
                    <p class="tagContent">標籤內容敘述</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片大小標題/按鈕</p>
    </div>

    <!-- 卡片區塊 - 大小標題 -->
    <nb-card>
        <!-- 卡片區塊大標題 -->
        <nb-card-header>
            <h2>卡片區塊大標題</h2>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 搜尋 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 搜尋</h2>
            <div class="searchBar">
                <input type="text" nbInput fullWidth status="basic" placeholder="請輸入篩選條件">
                <button nbButton status="info">搜 尋</button>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + radio結構 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + radio結構</h2>
            <nb-radio-group status="info">
                <nb-radio value="1">同意</nb-radio>
                <nb-radio value="2">不同意</nb-radio>
            </nb-radio-group>
        </nb-card-header>

        <!-- 卡片區塊大標題 + checkbox結構 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + checkbox結構</h2>
            <div class="checkboxGroup">
                <nb-checkbox status="info">已確認</nb-checkbox>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 標籤（可視需求增減標籤） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 標籤</h2>
            <nb-tag status="info" appearance="outline" text="標籤"></nb-tag>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 按鈕（可視需求增減按鈕） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 按鈕</h2>
            <button nbButton status="danger" size="tiny" class="iconBtn">
                <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
            <button nbButton status="success" size="tiny" class="iconBtn">
                <nb-icon icon="plus-outline"></nb-icon>
            </button>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 右側按鈕（可視需求增減按鈕） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 右側按鈕</h2>
            <div class="rightBox">
                <button nbButton status="primary" size="tiny" class="iconBtn">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button nbButton status="primary" size="tiny" class="iconBtn">
                    <nb-icon icon="settings-outline"></nb-icon>
                </button>
                <button nbButton status="success" size="tiny" class="iconBtn">
                    <nb-icon icon="download-outline"></nb-icon>
                </button>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 右側下拉式選單 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 右側下拉式選單</h2>
            <div class="rightBox">
                <nb-select size="medium" placeholder="請選擇">
                    <nb-option value="week">week</nb-option>
                    <nb-option value="month">month</nb-option>
                    <nb-option value="year">year</nb-option>
                </nb-select>
            </div>
        </nb-card-header>

        <!-- 卡片區塊小標題 -->
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題</p>
            </div>

            <!-- 區塊內小標題 + 按鈕 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 + 按鈕</p>
                <button nbButton status="danger" size="tiny" class="iconBtn">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <button nbButton status="success" size="tiny" class="iconBtn">
                    <nb-icon icon="plus-outline"></nb-icon>
                </button>
            </div>

            <!-- 區塊內小標題 + 展開收合按鈕 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 + 展開收合按鈕</p>
                <button nbButton [status]="isOpen ? 'info' : 'basic'" size="small" class="iconBtn btnSwitch"
                    [ngClass]="isOpen ? 'btnClick' : ''" (click)="isOpen = !isOpen">
                    <nb-icon icon="arrow-ios-forward"></nb-icon>
                </button>
            </div>
            <ng-container *ngIf="isOpen">
                <div class="noteText alert">
                    <nb-icon icon="info-outline"></nb-icon>
                    <p>我打開了！</p>
                </div>
            </ng-container>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片區塊按鈕</p>
    </div>

    <!-- 卡片區塊 - 按鈕 -->
    <nb-card>
        <!-- 卡片區塊按鈕 -->
        <nb-card-body>
            <!-- 文字區塊 -->
            <div class="textBlock">
                <ul>
                    <li>六種顏色：主題藍(primary)、藍(info)、綠(success)、紅(danger)、橘(warning)、灰(basic)</li>
                    <li>負向語意(灰)：取消、上一步、關閉 &harr; 正向語意(藍)：下一頁、確定、送出</li>
                </ul>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 文字區塊按鈕</p>
            </div>

            <!-- 文字按鈕 -->
            <div class="row">
                <div class="row ai_center col-12">
                    <div class="col-1">
                        <p>基本</p>
                    </div>
                    <div class="col-10">
                        <button nbButton status="basic" size="medium">按鈕</button>
                        <button nbButton status="danger" size="medium">按鈕</button>
                        <button nbButton status="warning" size="medium">按鈕</button>
                        <button nbButton status="info" size="medium">按鈕</button>
                        <button nbButton status="primary" size="medium">按鈕</button>
                    </div>
                </div>

                <div class="row ai_center col-12">
                    <div class="col-1">
                        <p>Disable</p>
                    </div>
                    <div class="col-10">
                        <button nbButton status="basic" size="medium" disabled>按鈕</button>
                        <button nbButton status="danger" size="medium" disabled>按鈕</button>
                        <button nbButton status="warning" size="medium" disabled>按鈕</button>
                        <button nbButton status="info" size="medium" disabled>按鈕</button>
                        <button nbButton status="primary" size="medium" disabled>按鈕</button>
                    </div>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - ICON 按鈕(表格中使用無底色按鈕)</p>
            </div>

            <!-- ICON按鈕 -->
            <div class="row">
                <!-- 展開收合按鈕 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton [status]="isOpen2 ? 'info' : 'basic'" size="small" class="iconBtn btnSwitch"
                            [ngClass]="isOpen2 ? 'btnClick' : ''" (click)="isOpen2 = !isOpen2">
                            <nb-icon icon="arrow-ios-forward"></nb-icon>
                        </button>
                        <p>展開收合(展開為藍色)</p>
                    </div>
                </div>
                <!-- 表格內展開收合按鈕 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <nb-icon icon="arrow-ios-forward" class="toggleIcon"></nb-icon>
                        <p>表格內展開收合，使用黑色icon</p>
                    </div>
                </div>
                <!-- danger：-、失敗、刪除、鎖定 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                        <p>-、失敗、刪除、鎖定</p>
                    </div>
                </div>
                <!-- warning：唯一性 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton status="warning" size="tiny" class="iconBtn">
                            <nb-icon icon="cube-outline"></nb-icon>
                        </button>
                        <p>唯一性</p>
                    </div>
                </div>
                <!-- info：搜尋、查看、分享 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton status="info" size="tiny" class="iconBtn">
                            <nb-icon icon="search-outline"></nb-icon>
                        </button>
                        <p>搜尋、查看、分享</p>
                    </div>
                </div>
                <!-- primary：編輯、設定 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton status="primary" size="tiny" class="iconBtn">
                            <nb-icon icon="edit-outline"></nb-icon>
                        </button>
                        <p>編輯、設定</p>
                    </div>
                </div>
                <!-- success：+、複製、解鎖、上傳、下載、附件 -->
                <div class="col-6">
                    <div class="row ai_center">
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                        <p>+、複製、解鎖、上傳、下載、附件</p>
                    </div>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - ICON+文字按鈕</p>
            </div>

            <!-- ICON+文字按鈕 -->
            <div class="row">
                <div class="row">
                    <button nbButton status="basic" size="medium"><nb-icon icon="close-outline"></nb-icon>關閉</button>
                    <button nbButton status="danger" size="medium"><nb-icon icon="trash-2-outline"></nb-icon>刪除</button>
                    <button nbButton status="info" size="medium"><nb-icon icon="search-outline"></nb-icon>搜尋</button>
                    <button nbButton status="primary" size="medium"><nb-icon icon="paper-plane-outline"></nb-icon>送出</button>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 側邊按鈕</p>
            </div>

            <!-- 卡片右側小按鈕 - 單個按鈕 -->
            <div class="rightBox">
                <button nbButton status="primary" size="medium"><nb-icon icon="settings-outline"></nb-icon>設定</button>
            </div>

            <!-- 卡片右側小按鈕 - 兩個按鈕 -->
            <div class="rightBox">
                <button nbButton status="primary" size="small"><nb-icon icon="edit-outline"></nb-icon>編輯</button>
                <button nbButton status="info" size="small"><nb-icon icon="maximize-outline"></nb-icon>查看</button>
            </div>

            <!-- 卡片右側按鈕 - 單個按鈕 -->
            <div class="rightBox">
                <button nbButton status="success" size="medium">新增</button>
            </div>

            <!-- 卡片右側按鈕 - 兩個按鈕 -->
            <div class="rightBox">
                <button nbButton status="success" size="medium"><nb-icon icon="unlock-outline"></nb-icon>解鎖</button>
                <button nbButton status="danger" size="medium"><nb-icon icon="lock-outline"></nb-icon>鎖定</button>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 按鈕</p>
            </div>

            <!-- 卡片按鈕 -->
            <div class="btnGroup">
                <button nbButton status="primary" size="medium">確認</button>
            </div>

            <!-- 卡片按鈕 -->
            <div class="btnGroup">
                <button nbButton status="basic" size="medium">上一步</button>
                <button nbButton status="primary" size="medium">下一步</button>
            </div>

            <!-- 卡片按鈕 -->
            <div class="btnGroup">
                <button nbButton status="basic" size="medium">取消</button>
                <button nbButton status="danger" size="medium">刪除</button>
                <button nbButton status="info" size="medium">暫存</button>
                <button nbButton status="primary" size="medium">完成</button>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片內區塊</p>
    </div>

    <!-- 卡片區塊 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 提示訊息</p>
            </div>

            <!-- 提示訊息 -->
            <div class="noteText">
                <nb-icon icon="info-outline"></nb-icon>
                <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
            </div>
            <!-- 警告訊息 -->
            <div class="noteText alert">
                <nb-icon icon="info-outline"></nb-icon>
                <p>警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息</p>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 灰底區塊</p>
            </div>

            <!-- 灰底區塊 -->
            <div class="colorArea">
                <!-- 欄位結構 -->
                <div class="row">
                    <!-- 下拉式選單欄位結構 -->
                    <div class="fieldGroup essential col-6 col-lg-4">
                        <label>下拉式選單</label>
                        <div>
                            <nb-select fullWidth placeholder="請選擇">
                                <nb-option value="item1">item1</nb-option>
                                <nb-option value="item2">item2</nb-option>
                            </nb-select>
                        </div>
                        <!-- 欄位錯誤訊息 -->
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- 一般輸入欄位結構 -->
                    <div class="fieldGroup essential col-6 col-lg-4">
                        <label>輸入欄位</label>
                        <div>
                            <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" />
                        </div>
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- radio欄位結構 -->
                    <div class="fieldGroup col-11 col-lg-3">
                        <label>radio</label>
                        <div>
                            <nb-radio-group status="info">
                                <nb-radio value="1">and</nb-radio>
                                <nb-radio value="2">or</nb-radio>
                            </nb-radio-group>
                        </div>
                        <!-- 欄位錯誤訊息 -->
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <div class="fieldBtn col-1 col-lg-1">
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <!-- 下拉式選單欄位結構 -->
                    <div class="fieldGroup essential col-6 col-lg-4">
                        <label>下拉式選單</label>
                        <div>
                            <nb-select fullWidth placeholder="請選擇">
                                <nb-option value="item1">item1</nb-option>
                                <nb-option value="item2">item2</nb-option>
                            </nb-select>
                        </div>
                        <!-- 欄位錯誤訊息 -->
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- 一般輸入欄位結構 -->
                    <div class="fieldGroup essential col-6 col-lg-4">
                        <label>輸入欄位</label>
                        <div>
                            <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" />
                        </div>
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- radio欄位結構 -->
                    <div class="fieldGroup col-11 col-lg-3">
                        <label>radio</label>
                        <div>
                            <nb-radio-group status="info">
                                <nb-radio value="1">and</nb-radio>
                                <nb-radio value="2">or</nb-radio>
                            </nb-radio-group>
                        </div>
                        <!-- 欄位錯誤訊息 -->
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- 增減按鈕 -->
                    <div class="fieldBtn col-1 col-lg-1">
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="minus-outline"></nb-icon>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="fieldBtn col-12 col-lg-6">
                        <button nbButton status="control">
                            <nb-icon icon="bar-chart-outline"></nb-icon>條件分佈級距
                        </button>
                    </div>
                    <div class="fieldBtn jc_end col-12 col-lg-6">
                        <span class="and color_green">and</span>
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="fieldBtn col-12 col-lg-6">
                        <button nbButton status="control">
                            <nb-icon icon="bar-chart-outline"></nb-icon>條件分佈級距
                        </button>
                    </div>
                    <div class="fieldBtn jc_end col-12 col-lg-6">
                        <span class="and color_red">and</span>
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                    </div>
                </div>
            </div>

            <!-- 灰底區塊 -->
            <div class="colorArea">
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
            </div>

            <!-- 灰底區塊異動內容標示，增加class="change" -->
            <div class="colorArea redBG">
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
            </div>
            <div class="colorArea blueBG">
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 卡片區塊</p>
            </div>

            <!-- 卡片區塊 -->
            <div class="cardGroup row">
                <div class="col-12 col-lg-3">
                    <nb-card>
                        <nb-card-header>
                            <p>卡片區塊標題</p>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容文字內容文字內容文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-12 col-lg-3">
                    <nb-card size="medium">
                        <nb-card-header>
                            <p>卡片區塊標題</p>
                        </nb-card-header>
                        <nb-list>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                        </nb-list>
                    </nb-card>
                </div>

                <div class="col-12 col-lg-6">
                    <nb-card>
                        <nb-card-body>
                            <div class="fieldGroup col-12">
                                <label>輸入欄位</label>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                    <button nbButton status="success" size="tiny" class="iconBtn">
                                        <nb-icon icon="plus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div class="note errorText">
                                    <nb-icon icon="alert-triangle"></nb-icon>
                                    <p>欄位格式錯誤</p>
                                </div>
                            </div>
                            <div class="noteText">
                                <nb-icon icon="info-outline"></nb-icon>
                                <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 建立條件</p>
            </div>
            <div class="cardGroup row">
                <div class="col-12 col-lg-4">
                    <nb-card class="colorArea" size="medium">
                        <nb-card-header>
                            <p>AI 建議標籤</p>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="subTitle">
                        <p>標籤條件 1</p>
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                    </div>
                    <div class="colorArea">
                        <div class="fieldGroup">
                            <div class="mar_b_0">
                                <nb-select fullWidth placeholder="請選擇">
                                    <nb-option value="item1">item1</nb-option>
                                    <nb-option value="item2">item2</nb-option>
                                </nb-select>
                                <span class="and color_red">and</span>
                                <button nbButton status="danger" size="tiny" class="iconBtn">
                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="note errorText">
                                <nb-icon icon="alert-triangle"></nb-icon>
                                <p>欄位錯誤訊息</p>
                            </div>
                        </div>
                    </div>
                    <div class="colorArea">
                        <div class="fieldGroup">
                            <div class="mar_b_0">
                                <nb-select fullWidth placeholder="請選擇">
                                    <nb-option value="item1">item1</nb-option>
                                    <nb-option value="item2">item2</nb-option>
                                </nb-select>
                                <span class="and color_green">and</span>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="note errorText">
                                <nb-icon class="and" icon="alert-triangle"></nb-icon>
                                <p>欄位錯誤訊息</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nb-card-body>
    </nb-card>

    <!-- 分隔線 -->
    <hr>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 文字區塊</p>
    </div>

    <!-- 卡片區塊 - 文字區塊 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 文字區塊</p>
            </div>

            <!-- 文字區塊 -->
            <div class="textBlock">
                <p>文字皆可依需求增加class變換樣式，說明如下：</p>

                <!-- 文字樣式說明 -->
                <p>
                    粗細：
                    <span class="text_lighter">細體(text_lighter)</span>、
                    <span class="text_normal">標準(text_normal)</span>、
                    <span class="text_bold">粗體(text_bold)</span>
                </p>
                <p>
                    顏色：
                    <span class="color_blue">藍色(color_blue)</span>、
                    <span class="color_skyBlue">天藍色(color_skyBlue)</span>、
                    <span class="color_red">紅色(color_red)</span>、
                    <span class="color_green">綠色(color_green)</span>、
                    <span class="color_orange">橘色(color_orange)</span>、
                    <span class="color_gray">灰色(color_gray)</span>
                </p>
                <p>
                    其他：
                    <span class="text_underline">底線(text_underline)</span>、
                    <span class="text_line_through">刪除線(text_line_through)</span>、
                    <span class="text_overline">頂線(text_overline)</span>、
                    <span class="text_none">無特效(text_none)</span>、
                    <span class="font_italic">斜體(font_italic 或 font_oblique)</span>
                </p>

                <!-- 連結文字 -->
                <a href="#">連結文字樣式</a>

                <!-- 分隔線 -->
                <hr>

                <!-- 組合範例 -->
                <p>
                    樣式合併使用範例：
                    <span class="color_red text_bold">紅色粗體(color_blue text_bold)</span>、
                    <span class="color_blue font_italic">藍色斜體(color_blue font_italic)</span>、
                    <span class="color_gray text_line_through">灰色刪除線(color_gray text_underline)</span>
                </p>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 條列式文字樣式</p>
            </div>

            <div class="textBlock">
                <!-- 條列式文字 -->
                <ul>
                    <li>第一層項目樣式預設為<span class="color_blue text_bold">「 阿拉伯數字 」</span>、第二層項目樣式預設為<span
                            class="color_blue text_bold">「 實心圓點 」</span>。</li>
                    <li>建議階層數為兩層以內，項目樣式說明如下：
                        <ul>
                            <li>實心圓點 (disc)</li>
                            <li>數字1、2、3 (dec)</li>
                            <li>數字01、02、03 (dec-zero)</li>
                            <li>小寫ａ、ｂ、ｃ (lowerAlpha)</li>
                            <li>大寫Ａ、Ｂ、Ｃ (upperAlpha)</li>
                            <li>中文一、二、三 (cjk)</li>
                            <li>無樣式 (none)</li>
                        </ul>
                    </li>
                    <li class="expandItem" [ngClass]="isShowListItem ? 'expanded' : ''" (click)="isShowListItem = !isShowListItem">
                    各階層之項目樣式皆可依需求，使用上述class名稱調整。
                        <nb-icon icon="arrow-ios-forward"></nb-icon>
                        <ul class="disc" *ngIf="isShowListItem">
                            <li>第二層項目樣式為實心圓點(disc)</li>
                            <li>第二層項目樣式為實心圓點(disc)</li>
                        </ul>
                    </li>
                    <li class="expandItem" [ngClass]="isShowListItem2 ? 'expanded' : ''" (click)="isShowListItem2 = !isShowListItem2">
                        階層數建議為兩層以內，展開收合功能，可依需求使用於第一層項目。
                        <nb-icon icon="arrow-ios-forward"></nb-icon>
                        <ul class="upperAlpha" *ngIf="isShowListItem2">
                            <li>第二層項目樣式為Ａ、Ｂ、Ｃ(upperAlpha)</li>
                            <li>第二層項目樣式為Ａ、Ｂ、Ｃ(upperAlpha)</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 資料文字</p>
            </div>

            <!-- 資料文字 -->
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="color_red">欄位異動後：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="color_skyBlue">欄位異動前：</p>
                    <span>文字內容</span>
                </div>
            </div>

            <!-- 資料文字 -->
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                    <button nbButton size="tiny" status="warning">功能按鈕</button>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題很長很長很長：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <a href="#">內容超長https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser</a>
                </div>
            </div>
            
            <!-- 條件式結構 -->
            <div class="row">
                <div class="textGroup gather">
                    <p>大於</p>
                    <span>300</span>
                    <nb-tag status="warning" appearance="filled" text="and"></nb-tag>
                </div>
                <div class="textGroup gather">
                    <p>小於</p>
                    <span>3000</span>
                    <nb-tag status="info" appearance="filled" text="or"></nb-tag>
                </div>
            </div>

            <!-- 程式碼展示 -->
            <div class="row">
                <div class="textGroup code col-12 col-12">
                    <p>文字標題：</p>
                    <pre [innerHtml]="mongoDB"></pre>
                </div>
            </div>
            
            <!-- 項目清單 -->
            <div class="col-12">
                <nb-card size="small" class="listBlock">
                    <nb-list>
                        <nb-list-item>
                            <p>項目A</p>
                            <p class="text_bold">1080</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目B</p>
                            <p class="text_bold">5000</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目C</p>
                            <p class="text_bold">520</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目D</p>
                            <p class="text_bold">4880</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目E</p>
                            <p class="text_bold">270</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目F</p>
                            <p class="text_bold">1500</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目G</p>
                            <p class="text_bold">2900</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目H</p>
                            <p class="text_bold">500</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目I</p>
                            <p class="text_bold">1000</p>
                        </nb-list-item>
                    </nb-list>
                </nb-card>
            </div>

        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 展開收合卡片＋特殊元件</p>
    </div>

    <!-- 展開收合卡片區塊 -->
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header>
                <h2>卡片區塊大標題</h2>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <!-- 表格上方顏色說明 -->
                <div class="colorInfo">
                    <p>條件符合度</p>
                    <div>
                        <span>普通</span>
                        <div class="gradient"></div>
                        <span>極高</span>
                    </div>
                    <div>
                        <div class="colorBlock"></div>
                        <span>屬性標籤</span>
                    </div>
                </div>

                <!-- 區塊內小標題 -->
                <div class="subTitle">
                    <p>卡片區塊內小標題 - 歷程紀錄</p>
                </div>

                <!-- 歷程區塊 -->
                <div class="historyList">
                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active">
                        <div class="mainItem">
                            <h4>已完成主要節點內容 1</h4>
                            <button nbButton ghost status="primary" size="tiny" class="iconBtn">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active moreBtn" [ngClass]="isShowSubItem ? 'closeSubItem' : ''">
                        <div class="mainItem" (click)="isShowSubItem = !isShowSubItem">
                            <h4>已完成主要節點內容 2</h4>
                            <button nbButton ghost status="primary" size="tiny" class="iconBtn">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem" [ngClass]="isShowSubItem ? '' : 'dis_none'">
                            <div>
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div>
                                <p>子內容標題 1</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                        <div class="subItem" [ngClass]="isShowSubItem ? '' : 'dis_none'">
                            <div class="time">
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div class="content">
                                <p>子內容標題 2</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active">
                        <div class="mainItem">
                            <h4>主要節點內容 3</h4>
                            <button nbButton ghost status="primary" size="tiny" class="iconBtn">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem">
                            <div class="time">
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div class="content">
                                <p>子內容標題 2</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem">
                        <div class="mainItem">
                            <h4>主要節點內容 4</h4>
                            <button nbButton ghost status="primary" size="tiny" class="iconBtn">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 特殊元件</p>
    </div>

    <!-- 卡片區塊 - 上傳檔案 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 上傳/匯入元件</p>
            </div>

            <!-- TODO: 若只能上傳一個檔案，則於上傳檔案後於 uploaderBlock 階層增加class="upload"，隱藏上方上傳區塊；若上傳後點擊 X 移除檔案，則移除 class="upload" 使上傳區塊重新出現 -->
            <div class="uploaderBlock">
                <ngx-awesome-uploader [adapter]="adapter"></ngx-awesome-uploader>
                <div>
                    <nb-icon icon="cloud-upload-outline"></nb-icon>
                    <p>拖曳檔案至此或點擊上傳</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - Toastr 提示訊息</p>
    </div>

    <!-- 卡片區塊 - Toast -->
    <nb-card>
        <nb-card-body>
            <!-- 參數一：positions後面可接TOP_RIGHT、TOP_LEFT、BOTTOM_RIGHT、BOTTOM_LEFT *注意：需用大寫字母 -->
            <!-- 參數二：一共有六種狀態primary、success、info、warning、danger、basic -->
            <!-- 參數三：訊息標題 -->
            <!-- 參數四：訊息icon -->
            <button nbButton status="primary" size="small"
                (click)="showToast(positions.TOP_RIGHT, 'primary', '通知', 'bell-outline')"><nb-icon
                    icon="bell-outline"></nb-icon>通知</button>
            <button nbButton status="info" size="small"
                (click)="showToast(positions.TOP_RIGHT, 'info', '訊息', 'paper-plane-outline')"><nb-icon
                    icon="paper-plane-outline"></nb-icon>訊息</button>
            <button nbButton status="success" size="small"
                (click)="showToast(positions.TOP_RIGHT, 'success', '成功', 'checkmark-outline')"><nb-icon
                    icon="checkmark-outline"></nb-icon>成功</button>
            <button nbButton status="danger" size="small"
                (click)="showToast(positions.TOP_RIGHT, 'danger', '緊告', 'alert-triangle-outline')"><nb-icon
                    icon="alert-triangle-outline"></nb-icon>緊告</button>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - Dialog</p>
    </div>

    <!-- 卡片區塊 - Dialog -->
    <nb-card>
        <nb-card-body>
            <div class="textBlock">
                <ul>
                    <li>樣式設計：Dialog會根據內容自動調整大小，最小寬度為320px，最大寬度限制在視窗寬度的85％範圍內。</li>
                    <li>若有特定寬度需求，可使用以下三種class名稱來固定寬度：320px (small)、740px (medium)、佔視窗寬度85％ (large)</li>
                </ul>
            </div>
            <button nbButton status="primary" size="small" (click)="openTextSmallDialog()">文字Dialog(小)</button>
            <button nbButton status="info" size="small" (click)="openTextMeduimDialog()">文字Dialog(中)</button>
            <button nbButton status="warning" size="small" (click)="openTextLargeDialog()">文字Dialog(大)</button>
            <button nbButton status="success" size="small" (click)="openConfirmDialog()">確認Dialog</button>
            <button nbButton status="success" size="small" (click)="openSuccessDialog()">執行成功</button>
            <button nbButton status="danger" size="small" (click)="openFailDialog()">執行失敗</button>
        </nb-card-body>
    </nb-card>

    <!-- 按鈕區塊 -->
    <div class="btnGroup">
        <button nbButton status="primary" size="medium">確認</button>
    </div>

    <!-- 按鈕區塊 -->
    <div class="btnGroup">
        <button nbButton status="basic" size="medium">上一步</button>
        <button nbButton status="primary" size="medium">下一步</button>
    </div>

    <!-- 按鈕區塊 -->
    <div class="btnGroup">
        <button nbButton status="basic" size="medium">取消</button>
        <button nbButton status="danger" size="medium">刪除</button>
        <button nbButton status="info" size="medium">暫存</button>
        <button nbButton status="primary" size="medium">完成</button>
    </div>

</div>
