<!-- 頁面標題（可視需求增減功能按鈕）-->
<div class="pageTitle">
    <h1>頁面標題</h1>
    <button nbButton status="info" size="tiny" class="iconBtn">
        <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton status="success" size="tiny" class="iconBtn">
        <nb-icon icon="copy-outline"></nb-icon>
    </button>
    <button nbButton status="primary" size="small"><nb-icon icon="paper-plane-outline"></nb-icon>功能按鈕</button>
</div>

<!-- 頁面內容 -->
<div class="pageContent">

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 提示訊息</p>
    </div>

    <!-- 提示訊息 -->
    <div class="noteText">
        <nb-icon icon="info-outline"></nb-icon>
        <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
    </div>

    <!-- 警告訊息 -->
    <div class="noteText alert">
        <nb-icon icon="info-outline"></nb-icon>
        <p>警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息</p>
    </div>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 標籤區塊</p>
    </div>

    <!-- 卡片區塊 - 標籤 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 標籤</p>
            </div>
            <div class="tagBlock">
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤"></nb-tag>
                </div>
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤文字"></nb-tag>
                    <p class="tagContent">標先內容敘述，標先內容敘述標先內容敘述標先內容敘述。</p>
                </div>
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤"></nb-tag>
                    <p class="tagContent">標先內容敘述，標先內容敘述標先內容敘述標先內容敘述標先內容敘述，標先內容敘述標先內容敘述標先內容敘述。</p>
                </div>
                <div class="tagItem">
                    <nb-tag status="info" appearance="filled" text="標籤文字標籤文字"></nb-tag>
                    <p class="tagContent">標先內容敘述</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片大小標題/按鈕</p>
    </div>

    <!-- 卡片區塊 - 大小標題 -->
    <nb-card>
        <!-- 卡片區塊大標題 -->
        <nb-card-header>
            <h2>卡片區塊大標題</h2>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 搜尋 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 搜尋</h2>
            <div class="searchBar">
                <input type="text" nbInput fullWidth status="basic" placeholder="請輸入篩選條件">
                <button nbButton status="primary">搜 尋</button>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + radio結構 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + radio結構</h2>
            <nb-radio-group>
                <nb-radio value="1">同意</nb-radio>
                <nb-radio value="2">不同意</nb-radio>
            </nb-radio-group>
        </nb-card-header>

        <!-- 卡片區塊大標題 + checkbox結構 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + checkbox結構</h2>
            <div class="checkboxGroup">
                <nb-checkbox status="basic">已確認</nb-checkbox>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 標籤（可視需求增減標籤） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 標籤</h2>
            <nb-tag status="info" appearance="outline" text="標籤"></nb-tag>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 按鈕（可視需求增減按鈕） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 按鈕</h2>
            <!-- 按鈕顏色用status控制：藍-info、綠-success、紅-danger、橘-warning、灰-basic -->
            <button nbButton status="danger" size="tiny" class="iconBtn">
                <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
            <button nbButton status="success" size="tiny" class="iconBtn">
                <nb-icon icon="plus-outline"></nb-icon>
            </button>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 右側按鈕（可視需求增減按鈕） -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 右側按鈕</h2>
            <div class="rightBox">
                <!-- 按鈕顏色用status控制：藍-info、綠-success、紅-danger、橘-warning、灰-basic -->
                <button nbButton status="info" size="tiny" class="iconBtn">
                    <nb-icon icon="edit-outline"></nb-icon>
                </button>
                <button nbButton status="warning" size="tiny" class="iconBtn">
                    <nb-icon icon="settings-outline"></nb-icon>
                </button>
                <button nbButton status="basic" size="tiny" class="iconBtn">
                    <nb-icon icon="search-outline"></nb-icon>
                </button>
            </div>
        </nb-card-header>

        <!-- 卡片區塊大標題 + 右側下拉式選單 -->
        <nb-card-header>
            <h2>卡片區塊大標題 + 右側下拉式選單</h2>
            <div class="rightBox">
                <nb-select size="medium" placeholder="請選擇">
                    <nb-option value="week">week</nb-option>
                    <nb-option value="month">month</nb-option>
                    <nb-option value="year">year</nb-option>
                </nb-select>
            </div>
        </nb-card-header>

        <!-- 卡片區塊小標題 -->
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題</p>
            </div>

            <!-- 區塊內小標題 + 按鈕 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 + 按鈕</p>
                <!-- 按鈕顏色用status控制：藍-info、綠-success、紅-danger、橘-warning、灰-basic -->
                <button nbButton status="danger" size="tiny" class="iconBtn">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                </button>
                <button nbButton status="success" size="tiny" class="iconBtn">
                    <nb-icon icon="plus-outline"></nb-icon>
                </button>
            </div>

            <!-- 區塊內小標題 + 展開收合按鈕 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 + 展開收合按鈕</p>
                <button nbButton status="basic" size="tiny" class="iconBtn btnSwitch"
                    [ngClass]="isOpen ? 'btnClick' : ''" (click)="isOpen = !isOpen">
                    <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
                </button>
            </div>
            <div [ngClass]="isOpen ? '' : 'displayNone'">
                <div class="noteText alert">
                    <nb-icon icon="info-outline"></nb-icon>
                    <p>我打開了！</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片區塊按鈕</p>
    </div>

    <!-- 卡片區塊 - 按鈕 -->
    <nb-card>
        <!-- 卡片區塊按鈕 -->
        <nb-card-body>
            <!-- 卡片右側小按鈕 - 單個按鈕 -->
            <div class="rightBox">
                <button nbButton status="primary" size="small"><nb-icon icon="search-outline"></nb-icon>右側藍色小按鈕</button>
            </div>

            <!-- 卡片右側小按鈕 - 兩個按鈕 -->
            <div class="rightBox">
                <button nbButton status="basic" size="small"><nb-icon icon="attach-outline"></nb-icon>右側灰色小按鈕</button>
                <button nbButton status="primary" size="small"><nb-icon
                        icon="book-open-outline"></nb-icon>右側藍色小按鈕</button>
            </div>

            <!-- 卡片右側按鈕 - 單個按鈕 -->
            <div class="rightBox">
                <button nbButton status="primary" size="medium">右側藍色按鈕</button>
            </div>

            <!-- 卡片右側按鈕 - 兩個按鈕 -->
            <div class="rightBox">
                <button nbButton status="basic" size="medium"><nb-icon icon="share-outline"></nb-icon>右側灰色按鈕</button>
                <button nbButton status="primary" size="medium"><nb-icon icon="sync-outline"></nb-icon>右側藍色按鈕</button>
            </div>

            <!-- 卡片置中按鈕 - 單個按鈕 -->
            <div class="btnGroup">
                <button nbButton status="info" size="medium">置中藍色按鈕</button>
            </div>

            <!-- 卡片置中按鈕 - 兩個按鈕 -->
            <div class="btnGroup">
                <button nbButton status="basic" size="medium">置中灰色按鈕</button>
                <button nbButton status="info" size="medium">置中藍色按鈕</button>
            </div>

            <!-- 卡片置中按鈕 - 三個按鈕 -->
            <div class="btnGroup">
                <button nbButton status="basic" size="medium">置中灰色按鈕</button>
                <button nbButton status="danger" size="medium">置中紅色按鈕</button>
                <button nbButton status="info" size="medium">置中藍色按鈕</button>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 卡片內區塊</p>
    </div>

    <!-- 卡片區塊 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 提示訊息</p>
            </div>

            <!-- 提示訊息 -->
            <div class="noteText">
                <nb-icon icon="info-outline"></nb-icon>
                <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
            </div>
            <!-- 警告訊息 -->
            <div class="noteText alert">
                <nb-icon icon="info-outline"></nb-icon>
                <p>警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息警告訊息</p>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 灰底區塊</p>
            </div>

            <!-- 灰底區塊 -->
            <div class="grayCard">
                <!-- 欄位結構 -->
                <div class="row">
                    <!-- 一般輸入欄位結構 -->
                    <div class="fieldGroup essential col-12 col-lg-4">
                        <label>輸入欄位</label>
                        <div>
                            <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" />
                        </div>
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>

                    <!-- 下拉式選單欄位結構 -->
                    <div class="fieldGroup essential col-12 col-lg-4">
                        <label>下拉式選單</label>
                        <div>
                            <nb-select fullWidth placeholder="請選擇">
                                <nb-option value="item1">item1</nb-option>
                                <nb-option value="item2">item2</nb-option>
                            </nb-select>
                        </div>
                        <!-- 欄位錯誤訊息 -->
                        <div class="note errorText">
                            <nb-icon icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fieldBtn col-12 col-lg-6">
                        <button nbButton status="control">
                            <nb-icon icon="bar-chart-outline"></nb-icon>條件分佈級距
                        </button>
                    </div>
                    <div class="fieldBtn justifyContentEnd col-12 col-lg-6">
                        <span class="and colorGreen">and</span>
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="fieldBtn col-12 col-lg-6">
                        <button nbButton status="control">
                            <nb-icon icon="bar-chart-outline"></nb-icon>條件分佈級距
                        </button>
                    </div>
                    <div class="fieldBtn justifyContentEnd col-12 col-lg-6">
                        <span class="and colorRed">and</span>
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                    </div>
                </div>
            </div>

            <!-- 灰底區塊 -->
            <div class="grayCard">
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
            </div>

            <!-- 灰底區塊異動內容標示，增加class="change" -->
            <div class="grayCard change">
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
                <div class="row">
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                    <div class="textGroup col-12 col-lg-4">
                        <p>文字標題：</p>
                        <span>文字內容</span>
                    </div>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 卡片區塊</p>
            </div>

            <!-- 卡片區塊 -->
            <div class="cardGroup row">
                <div class="col-12 col-lg-3">
                    <nb-card>
                        <nb-card-header>
                            <p>卡片區塊標題</p>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容文字內容文字內容文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                            <div class="textGroup">
                                <p>文字標題：</p>
                                <span>文字內容文字內容</span>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>

                <div class="col-12 col-lg-3">
                    <nb-card size="medium">
                        <nb-card-header>
                            <p>卡片區塊標題</p>
                        </nb-card-header>
                        <nb-list>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                            <nb-list-item>文字內容</nb-list-item>
                        </nb-list>
                    </nb-card>
                </div>

                <div class="col-12 col-lg-6">
                    <nb-card>
                        <nb-card-body>
                            <div class="fieldGroup col-12">
                                <label>輸入欄位</label>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div>
                                    <input nbInput fullWidth type="text" placeholder="請輸入" />
                                    <button nbButton status="danger" size="tiny" class="iconBtn">
                                        <nb-icon icon="minus-outline"></nb-icon>
                                    </button>
                                    <button nbButton status="success" size="tiny" class="iconBtn">
                                        <nb-icon icon="plus-outline"></nb-icon>
                                    </button>
                                </div>
                                <div class="note errorText">
                                    <nb-icon icon="alert-triangle"></nb-icon>
                                    <p>欄位格式錯誤</p>
                                </div>
                            </div>
                            <div class="noteText">
                                <nb-icon icon="info-outline"></nb-icon>
                                <p>提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息提示訊息</p>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 建立條件</p>
            </div>
            <div class="cardGroup row">
                <div class="col-12 col-lg-4">
                    <nb-card class="grayCard" size="medium">
                        <nb-card-header>
                            <p>AI 建議標籤</p>
                        </nb-card-header>
                        <nb-card-body>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="btnItem">
                                <p>標籤文字</p>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="subTitle">
                        <p>標籤條件 1</p>
                        <button nbButton status="danger" size="tiny" class="iconBtn">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                        <button nbButton status="success" size="tiny" class="iconBtn">
                            <nb-icon icon="plus-outline"></nb-icon>
                        </button>
                    </div>
                    <div class="grayCard">
                        <div class="fieldGroup">
                            <div class="mb_0">
                                <nb-select fullWidth placeholder="請選擇">
                                    <nb-option value="item1">item1</nb-option>
                                    <nb-option value="item2">item2</nb-option>
                                </nb-select>
                                <span class="and colorRed">and</span>
                                <button nbButton status="danger" size="tiny" class="iconBtn">
                                    <nb-icon icon="trash-2-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="note errorText">
                                <nb-icon icon="alert-triangle"></nb-icon>
                                <p>欄位錯誤訊息</p>
                            </div>
                        </div>
                    </div>
                    <div class="grayCard">
                        <div class="fieldGroup">
                            <div class="mb_0">
                                <nb-select fullWidth placeholder="請選擇">
                                    <nb-option value="item1">item1</nb-option>
                                    <nb-option value="item2">item2</nb-option>
                                </nb-select>
                                <span class="and colorGreen">and</span>
                                <button nbButton status="success" size="tiny" class="iconBtn">
                                    <nb-icon icon="plus-outline"></nb-icon>
                                </button>
                            </div>
                            <div class="note errorText">
                                <nb-icon class="and" icon="alert-triangle"></nb-icon>
                                <p>欄位錯誤訊息</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nb-card-body>
    </nb-card>

    <!-- 分隔線 -->
    <hr>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 文字區塊</p>
    </div>

    <!-- 卡片區塊 - 純文字 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 純文字</p>
            </div>

            <!-- 純文字 -->
            <div class="textBlock">
                <p>文字皆可依需求增加class變換樣式，說明如下：</p>

                <!-- 文字樣式說明 -->
                <p>
                    <span class="textBold">粗體：textBold</span>、
                    <span class="textItalic">斜體：textItalic</span>、
                    <span class="textLine">底線：textLine</span>、
                    <span class="textSmall">較小文字(14px)：textSmall</span>、
                    <span class="textLarge">較大文字(20px)：textLarge</span>、
                    <a href="#">連結文字</a>。
                </p>
                <p>
                    <span class="colorRed">紅字(#ff3d71)：colorRed</span>、
                    <span class="colorBlue">藍字(#2A6191)：colorBlue</span>、
                    <span class="colorGray">灰字(#82878B)：colorGray</span>、
                    <span class="bgRed">紅底白字：bgRed</span>、
                    <span class="bgBlue">藍底白字：bgBlue</span>、
                    <span class="bgGray">灰底白字：bgGray</span>。
                </p>
                
                <!-- 組合範例 -->
                <p>
                    <span class="colorRed textBold">紅色粗體文字：class="colorBlue textBold"</span>、
                    <span class="colorBlue textBold textLarge">藍色粗體較大文字：class="colorBlue textBold textLarge"</span>、
                    <span class="colorGray textLine">灰色底線文字：class="colorGray textLine"</span>
                </p>

                <!-- 分隔線 -->
                <hr>

                <!-- 條列式文案 -->
                <p>也可放置條列式文案，並可使用文字變化樣式。</p>
                <ul>
                    <li>第一層項目樣式預設為<span class="colorBlue textBold">「 阿拉伯數字 」</span>、第二層項目樣式預設為<span
                            class="colorBlue textBold">「 實心圓點 」</span>。</li>
                    <li>建議階層數為兩層以內，項目樣式說明如下：
                        <ul>
                            <li>實心圓點：class="<span class="textBold">disc</span>"。</li>
                            <li>數字1、2、3：class="<span class="textBold">dec</span>"。</li>
                            <li>數字01、02、03：class="<span class="textBold">dec-zero</span>"。</li>
                            <li>小寫ａ、ｂ、ｃ：class="<span class="textBold">lowerAlpha</span>"。</li>
                            <li>大寫Ａ、Ｂ、Ｃ：class="<span class="textBold">upperAlpha</span>"。</li>
                            <li>中文一、二、三：class="<span class="textBold">cjk</span>"。</li>
                            <li>無樣式：class="<span class="textBold">none</span>"。</li>
                        </ul>
                    </li>
                    <li>各階層之項目樣式皆可依需求，使用上述class名稱調整。
                        <ul class="upperAlpha">
                            <li>使用class="upperAlpha"，樣式為大寫Ａ、Ｂ、Ｃ。</li>
                            <li>第二層項目內容</li>
                            <li>第二層項目內容</li>
                            <li>第二層項目內容</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 資料文字</p>
            </div>

            <!-- 資料文字 -->
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                </div>
            </div>

            <!-- 資料文字 -->
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <span>文字內容</span>
                    <button nbButton size="tiny" status="warning">功能按鈕</button>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題很長很長很長：</p>
                    <span>文字內容</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p>文字標題：</p>
                    <a
                        href="#">內容超長https://accounts.google.com/AccountChooser/signinchooser?service=mail&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&flowName=GlifWebSignIn&flowEntry=AccountChooser</a>
                </div>
            </div>

            <!-- 項目清單 -->
            <div class="col-12">
                <nb-card size="small" class="listBlock">
                    <nb-list>
                        <nb-list-item>
                            <p>項目A</p>
                            <p class="textBold">1080</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目B</p>
                            <p class="textBold">5000</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目C</p>
                            <p class="textBold">520</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目D</p>
                            <p class="textBold">4880</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目E</p>
                            <p class="textBold">270</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目F</p>
                            <p class="textBold">1500</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目G</p>
                            <p class="textBold">2900</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目H</p>
                            <p class="textBold">500</p>
                        </nb-list-item>
                        <nb-list-item>
                            <p>項目I</p>
                            <p class="textBold">1000</p>
                        </nb-list-item>
                    </nb-list>
                </nb-card>
            </div>

        </nb-card-body>
    </nb-card>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 展開收合卡片＋特殊元件</p>
    </div>

    <!-- 展開收合卡片區塊 -->
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header>
                <h2>卡片區塊大標題</h2>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <!-- 表格上方顏色說明 -->
                <div class="colorInfo">
                    <p>條件符合度</p>
                    <div>
                        <span>普通</span>
                        <div class="gradient"></div>
                        <span>極高</span>
                    </div>
                    <div>
                        <div class="colorBlock"></div>
                        <span>屬性標籤</span>
                    </div>
                </div>

                <!-- 區塊內小標題 -->
                <div class="subTitle">
                    <p>卡片區塊內小標題 - 歷程紀錄</p>
                </div>

                <!-- 歷程區塊 -->
                <div class="historyList">
                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active">
                        <div class="mainItem">
                            <h4>已完成主要節點內容 1</h4>
                            <button nbButton status="control" size="tiny" class="iconBtn">
                                <nb-icon icon="chevron-down-outline"></nb-icon>
                            </button>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active moreBtn" [ngClass]="isOpen2 ? 'closeSubItem' : ''">
                        <div class="mainItem">
                            <h4 (click)="isOpen2 = !isOpen2">已完成主要節點內容 2</h4>
                            <button nbButton status="control" size="tiny" class="iconBtn" (click)="isOpen2 = !isOpen2">
                                <nb-icon icon="chevron-down-outline"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem" [ngClass]="isOpen2 ? '' : 'displayNone'">
                            <div>
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div>
                                <p>子內容標題 1</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                        <div class="subItem"  [ngClass]="isOpen2 ? '' : 'displayNone'">
                            <div class="time">
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div class="content">
                                <p>子內容標題 2</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem active">
                        <div class="mainItem">
                            <h4>主要節點內容 3</h4>
                            <button nbButton status="control" size="tiny" class="iconBtn">
                                <nb-icon icon="chevron-down-outline"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem">
                            <div class="time">
                                <p>YYYY/MM/BB</p>
                                <p>hh:mm:ss</p>
                            </div>
                            <div class="content">
                                <p>子內容標題 2</p>
                                <p>子內容敘述文字</p>
                            </div>
                        </div>
                    </div>

                    <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                    <div class="historyItem">
                        <div class="mainItem">
                            <h4>主要節點內容 4</h4>
                            <button nbButton status="control" size="tiny" class="iconBtn">
                                <nb-icon icon="chevron-down-outline"></nb-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <!-- 小標題 -->
    <div class="subTitle">
        <p>小標題 - 特殊元件</p>
    </div>

    <!-- 卡片區塊 -->
    <nb-card>
        <nb-card-body>
            <!-- 區塊內小標題 -->
            <div class="subTitle">
                <p>卡片區塊內小標題 - 上傳/匯入元件</p>
            </div>

            <!-- TODO: 若只能上傳一個檔案，則於上傳檔案後於 uploaderBlock 階層增加class="upload"，隱藏上方上傳區塊；若上傳後點擊 X 移除檔案，則移除 class="upload" 使上傳區塊重新出現 -->
            <div class="uploaderBlock">
                <ngx-awesome-uploader [adapter]="adapter"></ngx-awesome-uploader>
                <div>
                    <nb-icon icon="cloud-upload-outline"></nb-icon>
                    <p>拖曳檔案至此或點擊上傳</p>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- 按鈕區塊 - 單個按鈕 -->
    <!-- status 控制 按鈕顏色樣式，basic(灰)、danger(紅)、info(藍)、warning(橘) -->
    <div class="btnGroup">
        <button nbButton status="info">藍色按鈕</button>
    </div>

    <!-- 按鈕區塊 - 兩個按鈕 -->
    <!-- status 控制 按鈕顏色樣式，basic(灰)、danger(紅)、info(藍)、warning(橘) -->
    <div class="btnGroup">
        <button nbButton status="basic">灰色按鈕</button>
        <button nbButton status="info">藍色按鈕</button>
    </div>

    <!-- 按鈕區塊 - 三個按鈕-->
    <!-- status 控制 按鈕顏色樣式，basic(灰)、danger(紅)、info(藍)、warning(橘) -->
    <div class="btnGroup">
        <button nbButton status="basic">灰色按鈕</button>
        <button nbButton status="danger">紅色按鈕</button>
        <button nbButton status="info">藍色按鈕</button>
    </div>

    <!-- 按鈕區塊 - 四個按鈕-->
    <!-- status 控制 按鈕顏色樣式，basic(灰)、danger(紅)、info(藍)、warning(橘) -->
    <div class="btnGroup">
        <button nbButton status="basic">灰色按鈕</button>
        <button nbButton status="warning">橘色按鈕</button>
        <button nbButton status="danger">紅色按鈕</button>
        <button nbButton status="info">藍色按鈕</button>
    </div>
</div>
