<div class="pageTitle">
  <h1>名單排程審核</h1>
  <ng-container *ngIf="reviewStatus === 'reviewing' && isCompare">
    <button nbButton status="primary" size="small" (click)="viewToggle()" *ngIf="!isBefore">查看異動前內容</button>
    <button nbButton status="primary" size="small" (click)="viewToggle()" *ngIf="isBefore">返回本次異動內容</button>
  </ng-container>
</div>
<div class="pageContent">
  <div class="noteText" [ngClass]="{'alert': reviewStatus === 'rejected'}" *ngIf="reviewStatus !== 'reviewing'">
      <nb-icon icon="info-outline"></nb-icon>
      <p>審核結果：{{reviewStatus | enum:'reviewStatus'}}</p><br/>
      <p *ngIf="reviewStatus === 'rejected'">原因：{{reviewComment}}</p>
  </div>
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="textGroup col-12 col-lg-4">
            <p class="text_bold" [ngClass]="changeClass('jobName') | enum: 'reviewCompareClass'">作業名稱：</p>
            <span>{{detail?.jobName}}</span>
        </div>
        <div class="textGroup col-12 col-lg-4">
            <p class="text_bold" [ngClass]="changeClass('status') | enum: 'reviewCompareClass'">狀態：</p>
            <span>{{detail?.status | enum:'status'}}</span>
        </div>
        <div class="textGroup col-12 col-lg-4">
            <p class="text_bold" [ngClass]="changeClass('executionFrequency', 'frequencyTime') | enum: 'reviewCompareClass'">執行頻率：</p>
            <span>{{processExecutionFrequency(detail?.executionFrequency,detail?.frequencyTime)}}</span>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="textGroup col-12 col-lg-4">
            <p class="text_bold" [ngClass]="changeClass('filePath') | enum: 'reviewCompareClass'">檔案存放位置：</p>
            <span>{{detail?.filePath}}</span>
        </div>
        <div class="textGroup col-12 col-lg-4">
            <p class="text_bold" [ngClass]="changeClass('modificationTime') | enum: 'reviewCompareClass'">異動時間：</p>
            <span>{{detail?.modificationTime | date:dateFormat}}</span>
        </div>
      </div>
      <div class="subTitle">
        <p>名單列表</p>
      </div>
      <div class="tagBlock">
        <div class="tagItem" *ngIf="activitySettingView.add.length > 0">
            <nb-tag status="danger" appearance="filled" text="本次新增"></nb-tag>
            <p class="tagContent">{{activitySettingView.add.toString()| replace: ',' : '、'}}</p>
        </div>
        <div class="tagItem" *ngIf="activitySettingView.remove.length > 0">
          <nb-tag status="info" appearance="filled" text="本次刪除"></nb-tag>
          <p class="tagContent">{{activitySettingView.remove.toString()| replace: ',' : '、'}}</p>
        </div>
        <div class="tagItem" *ngIf="activitySettingView.same.length > 0">
          <nb-tag status="basic" appearance="filled" text="無異動"></nb-tag>
          <p class="tagContent">{{activitySettingView.same.toString()| replace: ',' : '、'}}</p>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="row" *ngIf="reviewStatus!=='reviewing'">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">返 回</button>
      </div>
  </div>
  <div class="row" *ngIf="reviewStatus==='reviewing'">
    <div class="btnGroup">
        <button nbButton status="basic" size="medium" (click)="cancel()">返 回</button>
        <button *ngIf="isCrud['update']" nbButton status="danger" size="medium" (click)="send('rejected')">不同意</button>
        <button *ngIf="isCrud['update']" nbButton status="primary" size="medium" (click)="send('approved')">同 意</button>
    </div>
  </div>
  <nb-card *ngIf="historyGroupView">
    <nb-card-header>
        <h2>異動歷程</h2>
    </nb-card-header>
    <nb-card-body>
      <div class="historyList">
          <ng-container *ngFor="let hg of historyGroupView | keyvalue; let i=index;">
              <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                  <div class="mainItem">
                      <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                      <button nbButton ghost status="primary" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                          <nb-icon icon="arrow-ios-forward"></nb-icon>
                      </button>
                  </div>
                  <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'dis_none'" *ngFor="let flow of history.flows">
                      <div>
                          <p>{{flow.time | date:dateFormat}}</p>
                          <p>{{flow.time | date:'hh:mm:ss'}}</p>
                      </div>
                      <div>
                          <p>{{flow.title}}</p>
                          <p>{{flow.detail}}</p>
                      </div>
                  </div>
              </div>
          </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
</div>
