<div class="pageTitle" *ngIf="detail">
    <h1>客群活動名單</h1>
    <button nbButton [status]="detail.status === 'reviewing' ? 'basic': 'primary'" size="tiny" class="iconBtn" (click)="edit()" [disabled]="detail.status === 'reviewing'">
        <nb-icon icon="edit-outline"></nb-icon>
    </button>
</div>
<div class="pageContent">
    <nb-card *ngIf="detail">
        <nb-card-body>
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">活動名稱：</p>
                    <span>{{detail?.activityName}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">狀態：</p>
                    <span>{{detail?.status | enum:'status'}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">名單上限：</p>
                    <span>{{detail?.listLimit}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">名單差異過濾：</p>
                    <span>{{detail?.filterOptions | enum:'filter'}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">起迄時間：</p>
                    <span>{{detail?.startDate}}~{{detail?.endDate}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">描述說明：</p>
                    <span>{{detail?.activityDescription}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">異動時間：</p>
                    <span>{{detail?.modificationTime | date:dateFormat}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">排成設定：</p>
                    <span>{{detail?.scheduleSettings | enum:'schedule'}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="text_bold">排成更新時間：</p>
                    <span>{{detail?.batchUpdateTime}}</span>
                </div>
            </div>
            <ng-container *ngFor="let tag of detail.tagGroupView | keyvalue;">
                <div class="subTitle">
                    <p>活動名單條件{{tag.key}}</p>
                    <button nbButton [status]="isConditionOpen[tag.key] ? 'info' : 'basic'" size="small" class="iconBtn btnSwitch"
                        [ngClass]="isConditionOpen[tag.key] ? 'btnClick' : ''" (click)="isConditionOpen[tag.key] = !isConditionOpen[tag.key]">
                        <nb-icon icon="arrow-ios-forward"></nb-icon>
                    </button>
                </div>
                <ng-container *ngIf="isConditionOpen[tag.key]">
                    <div class="colorArea">
                        <div class="row">
                            <div class="textGroup col-12 col-lg-12" *ngFor="let condition of tag.value">
                                <p class="text_bold">偵測條件：</p>
                                <span>{{condition.tagName}}</span>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </nb-card-body>
    </nb-card>
    <nb-card *ngIf="detail?.historyGroupView">
        <nb-card-header>
            <h2>異動歷程</h2>
        </nb-card-header>
        <nb-card-body>
            <div class="historyList">
                <!-- 已完成或正在進行的增加class="active"，有子項目加cl3ss="moreBtn"(視需求，可加可不加) -->
                <ng-container *ngFor="let hg of detail.historyGroupView | keyvalue; let i=index;">
                    <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                        <div class="mainItem">
                            <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                            <button nbButton ghost status="info" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'dis_none'" *ngFor="let flow of history.flows">
                            <div>
                                <p>{{flow.time | date:dateFormat}}</p>
                                <p>{{flow.time | date:'hh:mm:ss'}}</p>
                            </div>
                            <div>
                                <p>{{flow.title}}</p>
                                <p>{{flow.detail}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">返 回</button>
        </div>
    </div>
</div>
