<div class="pageTitle">
  <h1>排程管理</h1>
</div>
<div class="pageContent">
  <nb-card>
    <nb-card-header>
        <h2>貼標紀錄</h2>
    </nb-card-header>
    <nb-card-body>
      <div>
        <div class="rightBox" *ngIf="!enableMultiSelect"><button nbButton status="primary" size="medium" (click)="refresh()">手動更新</button></div>
        <div class="rightBox" *ngIf="enableMultiSelect">
          <button nbButton status="basic" size="medium" (click)="cancelRefresh()">取消</button>
          <button nbButton status="primary" size="medium" (click)="submitRefresh()">確定</button>
        </div>
        <ng2-smart-table *ngIf="!enableMultiSelect" [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
        <ng2-smart-table *ngIf="enableMultiSelect" [settings]="gridDefine_1" [source]="dataSource"></ng2-smart-table>
        <paginator [source]="dataSource" [paginator]="paginator"></paginator>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">返回</button>
      </div>
  </div>
</div>
