<div class="pageTitle">
    <h1>權限管理</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>編輯權限</h2>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="fieldGroup essential col-12 col-lg-6">
                    <label>權限名稱</label>
                    <div>
                        <input nbInput fullWidth status="basic" type="text" maxlength="20" placeholder="請輸入，最多20個字元" [(ngModel)]="groupName"/>
                    </div>
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup essential col-12 col-lg-4">
                    <label>狀態</label>
                    <div>
                        <nb-radio-group [(ngModel)]="enableOption">
                            <nb-radio value="true">啟用</nb-radio>
                            <nb-radio value="false">停用</nb-radio>
                        </nb-radio-group>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>               
            </div>
            <div class="subTitle">
                <p>權限內容</p>
            </div>
            <nb-card-body>     
                <ng2-smart-table [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
            </nb-card-body>
        </nb-card-body>
    </nb-card> 
    
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
            <button nbButton status="primary" size="medium" (click)="ok()">確定</button>
        </div>
    </div>
</div>