<div class="pageTitle">
    <h1>客群活動名單</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>查詢設定值</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row">
                <basic-input class="col-12 col-lg-6" title="活動名稱" [form]="validateForm" ctlName="activityName"></basic-input>
                <dropdown class="col-12 col-lg-6" title="狀態" [form]="validateForm" ctlName="status"
                    [selectList]="{options: statusList, key: 'key', val: 'val'}"></dropdown>
            </div>
            <date-range [form]="validateForm"></date-range>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="reset()">清除</button>
            <button nbButton status="primary" size="medium" (click)="search('search')" [disabled]="validateForm.invalid">查詢</button>
        </div>
    </div>
    <hr/>
    <nb-card>
        <nb-card-header>
            <h2>活動列表</h2>
        </nb-card-header>
        <nb-card-body>
            <div class="rightBox"><button nbButton status="primary" size="medium" (click)="add()">新增</button></div>
            <ng2-smart-table [settings]="gridDefine" [source]="restDataSource"></ng2-smart-table>
            <paginator [source]="restDataSource" [paginator]="paginator"></paginator>
        </nb-card-body>
    </nb-card>
</div>
