<div class="pageTitle">
    <h1>客群活動名單</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>新增活動</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row">
                <div class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': err}">
                    <label>活動名稱</label>
                    <div>
                        <input nbInput fullWidth [status]="err?'danger':'basic'" type="text" placeholder="請輸入" formControlName="activityName"/>
                    </div>
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup essential col-12 col-lg-6">
                    <label>狀態</label>
                    <div>
                        <nb-radio-group formControlName="status">
                            <nb-radio value="active">啟用</nb-radio>
                            <nb-radio value="stop">停用</nb-radio>
                        </nb-radio-group>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup col-12 col-lg-6">
                    <label>名單上限</label>
                    <div>
                        <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" formControlName="listLimit"/>
                    </div>
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup col-12 col-lg-6">
                    <label>名單差異過濾</label>
                    <div>
                        <nb-checkbox status="basic" formControlName="filterOptions">啟用</nb-checkbox>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': this.validateForm.errors?.range}">
                    <label>起始時間</label>
                    <div>
                        <input nbInput fullWidth [status]="this.validateForm.errors?.range ? 'danger' : ''"
                            placeholder="請選擇日期" [nbDatepicker]="startDatePicker" formControlName="startDate">
                        <nb-datepicker #startDatePicker format="yyyy-MM-dd" [max]="this.validateForm.get('endDate').value"></nb-datepicker>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText" *ngIf="this.validateForm.errors?.range">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>結束時間不得大於起始時間</p>
                    </div>
                </div>
                <div class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': this.validateForm.errors?.range}">
                    <label>結束時間</label>
                    <div>
                        <input nbInput fullWidth [status]="this.validateForm.errors?.range ? 'danger' : ''"
                            placeholder="請選擇日期" [nbDatepicker]="endDatePicker" formControlName="endDate">
                        <nb-datepicker #endDatePicker format="yyyy-MM-dd" [min]="this.validateForm.get('startDate').value"></nb-datepicker>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText" *ngIf="this.validateForm.errors?.range">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>結束時間不得大於起始時間</p>
                    </div>
                </div>
                <div class="fieldGroup essential col-12 col-lg-6">
                    <label>排程設定</label>
                    <div>
                        <nb-select fullWidth placeholder="請選擇" formControlName="scheduleSettings">
                            <nb-option *ngFor="let schedule of scheduleList" [value]="schedule.key">{{ schedule.val }}</nb-option>
                        </nb-select>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup col-12 col-lg-6">
                    <label>描述說明</label>
                    <div>
                        <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" formControlName="activityDescription"/>
                    </div>
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let condition of conditions.controls; let i=index; let first1 = first; let last1 = last" formArrayName="activityListCondition">
                <div class="subTitle">
                    <p>活動名單條件{{i+1}}</p>
                    <button nbButton status="danger" size="tiny" class="iconBtn" (click)="or('remove', i)" *ngIf="!first1 || first1 !== last1">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                    <button nbButton status="success" size="tiny" class="iconBtn" *ngIf="last1" (click)="or('add', i)">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                </div>
                <div class="grayCard" [formGroupName]="i">
                    <div class="fieldGroup" *ngFor="let con of condition.value | keyvalue; let first2 = first; let last2 = last">
                        <div class="mb_0">
                            <nb-select fullWidth placeholder="請選擇" [formControlName]="''+con.key">
                                <nb-option [value]="con.value">{{con.value}}</nb-option>
                                <nb-option value="item2">item2</nb-option>
                            </nb-select>
                            <span class="and colorGreen">and</span>
                            <button nbButton status="danger" size="tiny" class="iconBtn" *ngIf="!first2 || first2 !== last2"
                                (click)="and(i, 'remove', +con.key)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                            <button nbButton status="success" size="tiny" class="iconBtn" *ngIf="last2"
                                (click)="and(i, 'add', +con.key)">
                                <nb-icon icon="plus-outline"></nb-icon>
                            </button>
                        </div>
                        <div class="note errorText">
                            <nb-icon class="and" icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
            <button nbButton status="success" size="medium" (click)="preview()">預覽名單</button>
            <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="this.validateForm.invalid">送出</button>
        </div>
    </div>
</div>