<div class="pageTitle">
  <h1>標籤管理</h1>
  <button *ngIf="isCrud['update']" nbButton [status]="detail?.reviewStatus === 'reviewing' ? 'basic' : 'primary'" size="tiny" class="iconBtn" (click)="edit()" [disabled]="detail?.reviewStatus === 'reviewing'">
      <nb-icon icon="edit-outline"></nb-icon>
  </button>
  <button *ngIf="isCrud['create']" nbButton [status]="detail?.reviewStatus === 'reviewing' ? 'basic' : 'primary'" size="tiny" class="iconBtn" (click)="copy()" [disabled]="detail?.reviewStatus === 'reviewing'">
      <nb-icon icon="copy-outline"></nb-icon>
  </button>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-body>
          <div class="row">
            <div class="textGroup col-12 col-lg-4">
                  <p class="text_bold">標籤名稱：</p>
                  <span>{{detail?.tagName}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
                  <p class="text_bold">狀態：</p>
                  <span>{{detail?.status | enum:'status'}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
                  <p class="text_bold">類型：</p>
                  <span>{{detail?.tagType | enum:'tagType'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="textGroup col-12 col-lg-4">
              <p class="text_bold">所屬單位：</p>
              <span>{{detail?.department}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
              <p class="text_bold">負責人：</p>
              <span>{{detail?.owner}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
                <p class="text_bold">起迄時間：</p>
                <span>{{detail?.startDate}}~{{detail?.endDate}}</span>
            </div>
          </div>
          <div class="row">
            <div class="textGroup col-12 col-lg-4">
              <p class="text_bold">標籤構面：</p>
              <!-- <span>{{detail?.categoryKey | enum:'categoryKey'}}</span> -->
              <span>{{detail?.categoryName || detail?.categoryKey}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
              <p class="text_bold">標籤子構面：</p>
              <!-- <span>{{detail?.tagTopicKey| enum:'tagTopicKey'}}</span> -->
              <span>{{detail?.tagTopicName || detail?.tagTopicKey}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4">
                <p class="text_bold">異動時間：</p>
                <span>{{detail?.modificationTime | date:dateFormat}}</span>
            </div>
          </div>
          <div class="row">
            <div class="textGroup col-12 col-lg-4">
                <p class="text_bold">描述說明：</p>
                <span>{{detail?.tagDescription}}</span>
            </div>
            <div class="textGroup col-12 col-lg-4" *ngIf="detail?.tagType === 'document'">
                <p class="text_bold">名單上傳：</p>
                <a [ngClass]="isfileDownload ? 'link-style' : 'disabled-link-style'" (click)="isfileDownload?onDownloadFile():null">{{detail?.fileName}}</a>
                <!-- <a [href]="detail?.fileData" download>{{detail?.fileName}}</a> -->
            </div>
          </div>
          <div *ngIf="detail?.tagType !== 'document' &&
               (detail?.conditionSettingMethod === 'field' || detail?.conditionSettingMethod === 'normal')">
            <div class="subTitle" *ngIf="detail?.conditionSettingMethod === 'field'">
              <p>條件設定</p>
            </div>
            <div class="row">
              <div class="textGroup code col-12" *ngIf="detail?.conditionSettingMethod === 'normal'">
                <p class="text_bold">條件設定：</p>
                <pre>{{detail?.conditionSettingQuery}}</pre>
              </div>
              <div class="textGroup code col-12" *ngIf="detail?.conditionSettingMethod === 'field'">
                <p class="text_bold">偵測條件：</p>
                <span>{{detail?.tagConditionSetting?.[0]?.conditionName || detail?.tagConditionSetting?.[0]?.conditionKey}}</span>
              </div>
              <!-- 灰底區塊 -->
              <div class="colorArea col-12" *ngIf="detail?.conditionSettingMethod === 'field'">
                <div class="row">
                  <ng-container *ngFor="let tagCondition of detail?.tagConditionSetting">
                    <div class="textGroup gather">
                      <p>{{tagCondition?.detectionCondition?.toLowerCase() | enum:'mathSymbol'}}</p>
                      <span>{{tagCondition?.thresholdValue}}</span>
                      <nb-tag *ngIf="tagCondition?.joinValue?.toLowerCase() === 'and'" status="warning" appearance="filled" text="and"></nb-tag>
                      <nb-tag *ngIf="tagCondition?.joinValue?.toLowerCase() === 'or'" status="info" appearance="filled" text="or"></nb-tag>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
      </nb-card-body>
  </nb-card>
  <nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="異動歷程">
              <div class="historyList" *ngIf="detail?.historyGroupView">
                <ng-container *ngFor="let hg of detail.historyGroupView | keyvalue; let i=index;">
                    <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                        <div class="mainItem">
                            <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                            <button nbButton ghost status="primary" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                                <nb-icon icon="arrow-ios-forward"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'dis_none'" *ngFor="let flow of history.flows">
                            <div>
                                <p>{{flow.time | date:dateFormat}}</p>
                                <p>{{flow.time | date:'hh:mm:ss'}}</p>
                            </div>
                            <div>
                                <p>{{flow.title}}</p>
                                <p>{{flow.detail}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
              </div>
            </nb-tab>
            <nb-tab tabTitle="標籤使用範圍" *ngIf="restDataSource || dataSource as source">
                <ng2-smart-table [settings]="gridDefine" [source]="source"></ng2-smart-table>
                <paginator [source]="source" [paginator]="paginator"></paginator>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">返 回</button>
      </div>
  </div>
</div>
