<div class="pageTitle">
    <h1>使用者管理</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>查詢設定值</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row" >
                <basic-input class="col-12 col-lg-6" title="帳號" [form]="validateForm" ctlName="account" [maxlength]="20"></basic-input>
                <basic-input class="col-12 col-lg-6" title="姓名" [form]="validateForm" ctlName="name" [maxlength]="20"></basic-input>
            </div>
            <div class="row">
                <basic-input class="col-12 col-lg-6" title="電子郵件" [form]="validateForm" ctlName="email" [maxlength]="50"></basic-input>
                <checkbox-group class="col-12 col-lg-6" title="所屬單位" [form]="validateForm" formGroupName="businessUnit" [selectList]="{options: businessUnit, key: 'key', val: 'val'}"></checkbox-group>
                <dropdown class="col-12 col-lg-6" title="授予權限" [form]="validateForm" ctlName="groupId" [selectList]="{options: consoleGroupList, key: 'groupId', val: 'groupName'}"></dropdown>
            </div>
        </nb-card-body>
    </nb-card>

    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="reset()">清 除</button>
            <button nbButton status="primary" size="medium" (click)="search('search')" [disabled]="validateForm.invalid">查 詢</button>
        </div>
    </div>
    
    <nb-card>
        <nb-card-header>
            <h2>使用者列表</h2>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="gridDefine" [source]="restDataSource"></ng2-smart-table>
            <paginator [source]="restDataSource" [paginator]="paginator"></paginator>
        </nb-card-body>
    </nb-card>
</div>