<div class="pageTitle">
  <h1>標籤管理</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>{{actionName}}標籤</h2>
      </nb-card-header>
      <nb-card-body [formGroup]="validateForm">
          <div class="row">
            <div class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': err}">
                <label>標籤名稱</label>
                <div>
                    <input nbInput fullWidth [status]="err?'danger':'basic'" type="text" placeholder="請輸入" formControlName="tagName"/>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
            <div class="fieldGroup essential col-12 col-lg-6">
                <label>狀態</label>
                <div>
                    <nb-radio-group name="status" formControlName="status">
                        <nb-radio value="active">{{Status.enabled}}</nb-radio>
                        <nb-radio value="stop">{{Status.disabled}}</nb-radio>
                    </nb-radio-group>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fieldGroup essential col-12 col-lg-6">
              <label>標籤類型</label>
              <div>
                  <nb-radio-group name="tagType" formControlName="tagType">
                      <nb-radio value="normal" (valueChange)="changeTagType('normal')">{{TagType.normal}}</nb-radio>
                      <nb-radio value="document" (valueChange)="changeTagType('document')">{{TagType.document}}</nb-radio>
                  </nb-radio-group>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
            <div *ngIf="validateForm.get('tagType').value === 'normal'"  class="fieldGroup essential col-12 col-lg-6">
              <label>條件設定方式</label>
              <div>
                  <nb-radio-group name="setCondition" formControlName="setCondition">
                      <nb-radio value="normal">{{SetCondition.normal}}</nb-radio>
                      <nb-radio value="field">{{SetCondition.field}}</nb-radio>
                  </nb-radio-group>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
            <div *ngIf="validateForm.get('tagType').value === 'document'" class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': !isFile}">
                <label>名單上傳</label>
                <div>
                    <input nbInput fullWidth [status]="isFile?'basic':'danger'" type="text" [placeholder]="fileName?fileName:'請上傳檔案'"/>
                    <input nbInput fullWidth type="file" accept = '.csv' placeholder="請上傳檔案" formControlName="uploadFile" (change)="uploadFile($event)"/>
                    <button nbButton status="warning" size="tiny" class="iconBtn">
                        <nb-icon icon="folder-add-outline"></nb-icon>
                    </button>
                </div>
                <div class="note errorText" *ngIf="true">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>上傳格式錯誤或檔案過大</p>
                </div>
                <div class="note">
                    <nb-icon icon="alert-circle"></nb-icon>
                    <p>請上傳csv格式檔案</p>
                </div>
            </div>
        </div>
        <date-range [form]="validateForm"></date-range>
        <div class="row">
            <div class="fieldGroup essential col-12 col-lg-6">
              <label>標籤構面</label>
              <div>
                  <nb-select fullWidth placeholder="請選擇" formControlName="tagDimension">
                      <nb-option value="">全部</nb-option>
                      <nb-option *ngFor="let status of categoryList" [value]="status.key">{{ status.val }}</nb-option>
                  </nb-select>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
            <div class="fieldGroup essential col-12 col-lg-6">
              <label>標籤子構面</label>
              <div>
                  <nb-select fullWidth placeholder="請選擇" formControlName="tagSubDimension">
                      <nb-option value="">全部</nb-option>
                      <nb-option *ngFor="let status of subCategoryList" [value]="status.key">{{ status.val }}</nb-option>
                  </nb-select>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="fieldGroup essential col-12 col-lg-6">
                <label>排程設定</label>
                <div>
                    <nb-select fullWidth placeholder="請選擇" formControlName="scheduleSettings">
                        <nb-option *ngFor="let schedule of scheduleList" [value]="schedule.key">{{ schedule.val }}</nb-option>
                    </nb-select>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
            <div class="fieldGroup col-12 col-lg-6">
                <label>描述說明</label>
                <div>
                    <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" formControlName="tagDescription"/>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fieldGroup essential col-12">
                <label>條件設定</label>
                <div>
                    <textarea nbInput fullWidth status="basic" type="text" formControlName="conditionSettingQuery" placeholder="請輸入"></textarea>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
        </div>
      </nb-card-body>
  </nb-card>
  <nb-card *ngIf="this.params['changeRoute'] === 'edit'">
    <nb-card-header>
        <h2>異動歷程</h2>
    </nb-card-header>
    <nb-card-body>
      <div class="historyList">
        <ng-container *ngFor="let hg of detail.historyGroupView | keyvalue; let i=index;">
            <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                <div class="mainItem">
                    <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                    <button nbButton status="control" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                        <nb-icon icon="chevron-down-outline"></nb-icon>
                    </button>
                </div>
                <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'displayNone'" *ngFor="let flow of history.flows">
                    <div>
                        <p>{{flow.time | date:dateFormat}}</p>
                        <p>{{flow.time | date:'hh:mm:ss'}}</p>
                    </div>
                    <div>
                        <p>{{flow.title}}</p>
                        <p>{{flow.detail}}</p>
                    </div>
                </div>
            </div>
        </ng-container>
      </div>
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
          <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="validateForm.invalid">送出</button>
      </div>
  </div>
</div>
