<div class="pageTitle">
  <h1>標籤管理</h1>
</div>
<div class="pageContent">
  <!-- 提示訊息 -->
  <div *ngIf="this.params['changeRoute'] === 'edit' && this.validateForm.get('tagType').value ==='document'" class="noteText">
        <nb-icon icon="info-outline"></nb-icon>
        <p>重新選取檔案後，將以新版上傳資料為貼標標準</p>
  </div>
  <nb-card>
    <nb-card-header>
          <h2>{{actionName}}標籤</h2>
    </nb-card-header>
    <nb-card-body [formGroup]="validateForm">
        <div class="row">
            <basic-input class="col-12 col-lg-6" title="標籤名稱" [form]="validateForm" ctlName="tagName"></basic-input>
            <radio class="col-12 col-lg-6" title="狀態" [form]="validateForm" ctlName="status" [selectList]="{options: statusList, key: 'key', val: 'val'}"></radio>
        </div>
        <div class="row">
            <radio class="col-12 col-lg-6" title="標籤類型" [form]="validateForm" ctlName="tagType" [selectList]="{options: tagTypeList, key: 'key', val: 'val'}" (valueChange)="changeTagType($event)"></radio>
            <div *ngIf="validateForm.get('tagType').value === 'normal'">
              <radio class="essential col-12 col-lg-6" title="條件設定方式" [form]="validateForm" ctlName="conditionSettingMethod" [selectList]="{options: tagSetConditionList, key: 'key', val: 'val'}"></radio>
            </div>
            <div *ngIf="validateForm.get('tagType').value === 'document'" class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': validateForm.get('uploadFile')?.errors?.uploadFileMsg}">
              <label>名單上傳</label>
              <div>
                <input nbInput fullWidth [status]="validateForm.get('uploadFile')?.errors?.uploadFileMsg ? 'danger' : 'basic'"
                      type="text" formControlName="uploadFile" [placeholder] = "fileName"/>
                <input nbInput fullWidth type="file"  [accept]="passFileArrayStr" (change)="onFileSelected($event)"  />
                <button nbButton status="warning" size="tiny" class="iconBtn">
                    <nb-icon icon="folder-add-outline"></nb-icon>
                </button>
              </div>
              <div class="note errorText">
                <nb-icon icon="alert-triangle"></nb-icon>
                <p>{{validateForm.get('uploadFile')?.errors?.uploadFileMsg}}</p>
              </div>
            </div>
        </div>
        <date-range [form]="validateForm"></date-range>
        <div class="row">
            <dropdown class="col-12 col-lg-6" title="標籤構面" [form]="validateForm" ctlName="tagDimension"></dropdown>
            <dropdown class="col-12 col-lg-6" title="標籤子構面" [form]="validateForm" ctlName="tagSubDimension"></dropdown>
        </div>
        <div class="row">
            <dropdown class="col-12 col-lg-6" title="排程設定" [form]="validateForm" ctlName="scheduleSettings" enumName="schedule"></dropdown>
            <basic-input class="col-12 col-lg-6" title="描述說明" [form]="validateForm" ctlName="tagDescription"></basic-input>
        </div>
        <div *ngIf="validateForm.get('conditionSettingMethod').value === 'normal'">
          <div class="row">
            <div class="fieldGroup essential error col-12">
                <label>條件設定</label>
                <div>
                    <textarea nbInput fullWidth status="danger" placeholder="請輸入" formControlName="conditionSettingQuery"></textarea>
                </div>
                <!-- 欄位錯誤訊息 -->
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
          </div>
        </div>
        <div *ngIf="validateForm.get('conditionSettingMethod').value === 'field'">
          <div class="subTitle">
              <p>條件設定</p>
          </div>
          <div class="row">
            <dropdown class="col-12 col-lg-12" title="偵測條件" [form]="validateForm" [selectList]="{options: condition_valueList, key: 'key', val: 'val'}" ctlName="conditionValue"></dropdown>
          </div>
          <div class="row rightBox">
            <div class="fieldBtn col-12 col-lg-2">
                <button nbButton status="control" (click)="conditionDialog()">
                    <nb-icon icon="bar-chart-outline"></nb-icon>條件分佈級距
                </button>
            </div>
          </div>
          <!-- 灰底區塊 -->
          <div class="grayCard" *ngFor="let condition of conditions.controls | keyvalue; let i=index; let first = first; let last = last" formArrayName="conditionSettingQuery">
            <div class="row" formGroupName="{{i}}">
                <dropdown class="col-6 col-lg-4" title="條件值" [form]="getFormGroupInFormArray('conditionSettingQuery', i)" ctlName="detectionCondition_{{i}}" [selectList]="{options: mathSymbolList, key: 'key', val: 'val'}"></dropdown>
                <basic-input class="col-6 col-lg-4" title="門檻值" type="number" [form]="getFormGroupInFormArray('conditionSettingQuery', i)" ctlName="thresholdValue_{{i}}"></basic-input>
                <!-- radio欄位結構 -->
                <div *ngIf="last" class="col-10 col-lg-2"></div>
                <radio *ngIf="!last" class="col-10 col-lg-2" title="集合" [form]="getFormGroupInFormArray('conditionSettingQuery', i)" ctlName="joinValue_{{i}}" [selectList]="{options: joinValueList, key: 'key', val: 'val'}"></radio>
                <!-- 增減按鈕 -->
                <div *ngIf="last" class="fieldBtn col-1 col-lg-1">
                    <button nbButton status="success" size="tiny" class="iconBtn" (click)="changeConditionsBtn('add', i)">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                </div>
                <div *ngIf="!first || !last" class="fieldBtn col-1 col-lg-1">
                    <button nbButton status="danger" size="tiny" class="iconBtn" (click)="changeConditionsBtn('remove', i)">
                        <nb-icon icon="minus-outline"></nb-icon>
                    </button>
                </div>
            </div>
          </div>
        </div>
    </nb-card-body>
  </nb-card>
  <nb-card *ngIf="this.params['changeRoute'] === 'edit' && (detail?.historyGroupView || !!dataSource)">
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="異動歷程" *ngIf="detail?.historyGroupView">
              <div class="historyList">
                <ng-container *ngFor="let hg of detail.historyGroupView | keyvalue; let i=index;">
                    <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                        <div class="mainItem">
                            <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                            <button nbButton status="control" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                                <nb-icon icon="chevron-down-outline"></nb-icon>
                            </button>
                        </div>
                        <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'displayNone'" *ngFor="let flow of history.flows">
                            <div>
                                <p>{{flow.time | date:dateFormat}}</p>
                                <p>{{flow.time | date:'hh:mm:ss'}}</p>
                            </div>
                            <div>
                                <p>{{flow.title}}</p>
                                <p>{{flow.detail}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
              </div>
            </nb-tab>
            <nb-tab tabTitle="標籤使用範圍" *ngIf="!!dataSource">
                <ng2-smart-table [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
                <paginator [source]="dataSource" [paginator]="paginator"></paginator>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
          <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="validateForm.invalid">送出</button>
      </div>
  </div>
</div>
