::ng-deep .fieldBtn [nbButton].status-basic {
  color: #b7bfc6  !important;
  border: 0;
  background-color: transparent !important;
  padding: 0.5rem 1rem 0.5rem 0 !important;
}

::ng-deep .errorText{
  font-size: 0.75rem;
}
