<div class="row" [formGroup]="form">
  <div class="fieldGroup col-12 col-lg-6" [ngClass]="{'error': form.get('startDate').errors?.format || form.errors?.dateErrMsg, 'essential': getRequired('startDate')}">
    <label>起始時間</label>
    <div>
        <input nbInput fullWidth [status]="form.get('startDate').errors?.format || form.errors?.dateErrMsg ? 'danger' : 'basic'"
            placeholder="請選擇日期" [nbDatepicker]="startDatePicker" formControlName="startDate" (keyup)="fmtDate($event, 'startDate')" maxlength="10">
        <nb-datepicker #startDatePicker [format]="dateFormat"></nb-datepicker>
    </div>
    <!-- 欄位錯誤訊息 -->
    <div class="note errorText">
        <nb-icon icon="alert-triangle"></nb-icon>
        <p>{{form.get('startDate').errors?.format || form.errors?.dateErrMsg}}</p>
    </div>
  </div>
  <div class="fieldGroup col-12 col-lg-6" [ngClass]="{'error': form.get('endDate').errors?.format || form.errors?.dateErrMsg, 'essential': getRequired('endDate')}">
    <label>結束時間</label>
    <div>
        <input nbInput fullWidth [status]="form.get('endDate').errors?.format || form.errors?.dateErrMsg ? 'danger' : 'basic'"
            placeholder="請選擇日期" [nbDatepicker]="endDatePicker" formControlName="endDate" (keyup)="fmtDate($event, 'endDate')" maxlength="10">
        <nb-datepicker #endDatePicker [format]="dateFormat"></nb-datepicker>
    </div>
    <!-- 欄位錯誤訊息 -->
    <div class="note errorText">
        <nb-icon icon="alert-triangle"></nb-icon>
        <p>{{form.get('endDate').errors?.format || form.errors?.dateErrMsg}}</p>
    </div>
  </div>
</div>