<div class="pageTitle">
  <h1>標籤管理</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>查詢值設定</h2>
      </nb-card-header>
      <nb-card-body>
          <div class="row">
            <div class="fieldGroup col-12 col-lg-6">
                <label>標籤名稱</label>
                <div><input nbInput fullWidth status="basic" type="text" placeholder="請輸入" [(ngModel)]="params.filter.tagName"/></div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
            <div class="fieldGroup col-12 col-lg-6">
              <label>狀態</label>
              <div>
                  <nb-select fullWidth placeholder="請選擇" [(ngModel)]="params.filter.status">
                      <nb-option value="">全部</nb-option>
                      <nb-option *ngFor="let status of statusList" [value]="status.key">{{ status.val }}</nb-option>
                  </nb-select>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
            <div class="fieldGroup col-12 col-lg-6">
              <label>起始時間</label>
              <div>
                  <input nbInput fullWidth placeholder="請選擇日期" [nbDatepicker]="startDatePicker" [(ngModel)]="params.filter.startDate">
                  <nb-datepicker #startDatePicker [format]="dateFormat"></nb-datepicker>
              </div>
              <div class="note errorText">
                  <nb-icon icon="alert-triangle"></nb-icon>
                  <p>欄位錯誤訊息</p>
              </div>
            </div>
            <div class="fieldGroup col-12 col-lg-6">
                <label>結束時間</label>
                <div>
                    <input nbInput fullWidth placeholder="請選擇日期" [nbDatepicker]="endDatePicker" [(ngModel)]="params.filter.endDate">
                    <nb-datepicker #endDatePicker [format]="dateFormat" max=""></nb-datepicker>
                </div>
                <div class="note errorText">
                    <nb-icon icon="alert-triangle"></nb-icon>
                    <p>欄位錯誤訊息</p>
                </div>
            </div>
          </div>
      </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="reset()">清除</button>
          <button nbButton status="primary" size="medium" (click)="search()">查詢</button>
      </div>
  </div>
  <hr/>
  <nb-card>
      <nb-card-header>
          <h2>標籤列表</h2>
      </nb-card-header>
      <nb-card-body>
          <div class="rightBox"><button nbButton status="primary" size="medium" (click)="add()">新增</button></div>
          <ng2-smart-table [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
          <paginator [source]="dataSource" [paginator]="paginator"></paginator>
      </nb-card-body>
  </nb-card>
</div>
