<div class="pageTitle">
  <h1>標籤管理</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>查詢值設定</h2>
      </nb-card-header>
      <nb-card-body [formGroup]="validateForm">
          <div class="row">
            <basic-input class="col-12 col-lg-6" title="標籤名稱" [form]="validateForm" ctlName="tagName"></basic-input>
            <dropdown class="col-12 col-lg-6" title="狀態" [form]="validateForm" ctlName="status" enumName="reviewStatus"
                    [selectList]="{options: statusList, key: 'key', val: 'val'}"></dropdown>
          </div>
          <date-range [form]="validateForm"></date-range>
      </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="reset()">清除</button>
          <button nbButton status="primary" size="medium" [disabled]="validateForm.invalid" (click)="search('search')">查詢</button>
      </div>
  </div>
  <hr/>
  <nb-card>
      <nb-card-header>
          <h2>標籤列表</h2>
      </nb-card-header>
      <nb-card-body>
            <div class="rightBox"><button nbButton status="primary" size="medium" (click)="add()">新增</button></div>
            <ng2-smart-table *ngIf="!!restDataSource" [settings]="gridDefine" [source]="restDataSource"></ng2-smart-table>
            <paginator *ngIf="!!restDataSource" [source]="restDataSource" [paginator]="paginator"></paginator>
            <ng2-smart-table *ngIf="!!dataSource" [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
            <paginator *ngIf="!!dataSource" [source]="dataSource" [paginator]="paginator"></paginator>
      </nb-card-body>
  </nb-card>
</div>
