<div class="pageTitle">
    <h1>用戶列表</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>查詢設定值</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row" >
                <basic-input class="col-12 col-lg-6" title="會員號碼" [form]="validateForm" ctlName="customerId" [maxlength]="10"></basic-input>
                <basic-input class="col-12 col-lg-6" title="手機號碼" [form]="validateForm" ctlName="mobile" [maxlength]="10"></basic-input>
            </div>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="reset()">清除</button>
            <button nbButton status="primary" size="medium" (click)="search('search')" [disabled]="validateForm.invalid">查詢</button>
        </div>
    </div>
    <hr/>
    <nb-card>
        <nb-card-header>
            <h2>用戶列表</h2>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table *ngIf="!!restDataSource" [settings]="gridDefine" [source]="restDataSource"></ng2-smart-table>
            <paginator *ngIf="!!restDataSource" [source]="restDataSource" [paginator]="paginator"></paginator>
            <ng2-smart-table *ngIf="!!dataSource" [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
            <paginator *ngIf="!!dataSource" [source]="dataSource" [paginator]="paginator"></paginator>
        </nb-card-body>
    </nb-card>
</div>