<div class="pageTitle">
    <h1>用戶列表</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>查詢設定值</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row" >
                <basic-input class="col-12 col-lg-6" title="用戶編號" [form]="validateForm" ctlName="customerId" [maxlength]="10"></basic-input>
                <basic-input class="col-12 col-lg-6" title="手機號碼" [form]="validateForm" ctlName="mobile" [maxlength]="10"></basic-input>
                <basic-input class="col-12 col-lg-6" title="標籤關鍵字" [form]="validateForm" ctlName="tagKeyword" [maxlength]="10"></basic-input>
            </div>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="reset()">清 除</button>
            <button nbButton status="primary" size="medium" (click)="search('search')" [disabled]="validateForm.invalid">查 詢</button>
        </div>
    </div>
    <hr/>
    <nb-card>
        <nb-card-header>
            <h2>用戶列表</h2>
        </nb-card-header>
        <nb-card-body *ngIf="restDataSource || dataSource as source">
            <ng2-smart-table [settings]="gridDefine" [source]="source"></ng2-smart-table>
            <paginator [source]="source" [paginator]="paginator"></paginator>
        </nb-card-body>
    </nb-card>
</div>