@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    min-width: 300px;
    max-width: 80vw;
    // min-height: 200px;
    max-height: 80vh;
    margin: auto;
  }

  nb-card-header {
    min-height: 72px;
    max-height: 72px;
  }
  nb-card-body {
    padding: 2rem 1.5rem 1rem;
  }
}
