.paginator {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  margin: 1rem 0;
  &:not(.only) {
      display: unset;
      justify-content: unset;
      position: relative;
      bottom: 40px;
      margin: unset;
  }
  p { font-size: 0.874rem; }
}
