// @nebular theming framework
@import "~@nebular/theme/styles/theming";
// @nebular out of the box themes
@import "~@nebular/theme/styles/themes/default";

$nb-themes: nb-register-theme(
    (
        // color-setting
        color-primary-100: #D6F0F9,
        color-primary-200: #AEDEF4,
        color-primary-300: #7FBBDE,
        color-primary-400: #5893BD,
        color-primary-500: #2A6191,
        color-primary-600: #1E4B7C,
        color-primary-700: #153868,
        color-primary-800: #0D2754,
        color-primary-900: #081B45,

        color-success-100: #CAFCD8,
        color-success-200: #96FABB,
        color-success-300: #61F2A5,
        color-success-400: #39E69C,
        color-success-500: #00D68F,
        color-success-600: #00B88D,
        color-success-700: #009A85,
        color-success-800: #007C77,
        color-success-900: #006066,
        
        color-info-100: #D4FAFD,
        color-info-200: #A9F0FC,
        color-info-300: #7DDEF7,
        color-info-400: #5CC8F0,
        color-info-500: #29A7E6,
        color-info-600: #1D83C5,
        color-info-700: #1462A5,
        color-info-800: #0D4685,
        color-info-900: #07316E,

        color-primary-hover: #008CD0,
        color-primary-active: #29A7E6,
        color-primary-disabled: color-primary-500,
        color-success-hover: #00AD74,
        color-success-active: #01dd94,
        color-success-disabled: color-success-500,
        color-info-hover: #0078B2,
        color-info-active: #66CAFC,
        color-info-disabled: color-info-500,
        color-warning-hover: #FFC653,
        color-warning-active: #FFD800,
        color-warning-disabled: color-warning-500,
        color-danger-hover: #FF0044,
        color-danger-active: #FF85A6,
        color-danger-disabled: color-danger-500,
        color-basic-default: #BBC1C5,
        color-basic-hover: #60676D,
        color-basic-active: #B2B9BE,
        color-basic-disabled: color-basic-500,

        // text-setting
        text-basic-color: #121A23,

        //link-seting
        link-text-color: color-success-500,
        link-text-focus-color: color-success-focus,
        link-text-hover-color: color-success-hover,

        // menu-setting
        sidebar-background-color: color-primary-500,
        menu-text-color: #FFFFFF,
        menu-item-icon-color: #FFFFFF,
        menu-item-active-background-color: #FFFFFF,
        menu-item-active-text-color: color-primary-500,
        menu-item-icon-active-color:  color-primary-500,
        menu-item-hover-background-color: rgba(#FFFFFF, 0.08),
        menu-item-hover-text-color: #FFFFFF,
        menu-item-icon-hover-color: #FFFFFF,
        menu-item-divider-width: 0,

        // card-setting
        divider-color: #DBDEE1,

        // input-setting
        input-basic-text-color: text-basic-color,
        input-basic-placeholder-text-color: rgba(#121A23, 0.5),
        input-basic-background-color: #FAFAFA,
        input-basic-hover-background-color: #FFFFFF,
        input-basic-hover-border-color: #C5E2F2,
        input-basic-focus-background-color: input-basic-background-color,
        input-basic-focus-border-color: color-info-active,
        input-basic-disabled-background-color: input-basic-background-color,
        input-basic-disabled-border-color: #E4E9EB,
        input-basic-disabled-text-color: text-basic-color,
        input-danger-text-color: text-basic-color,
        input-danger-placeholder-text-color: rgba(#121A23, 0.5),
        input-danger-hover-background-color: input-basic-background-color,
        input-danger-hover-border-color: #FFC3D3,
        input-danger-focus-background-color: input-basic-background-color,
        input-danger-focus-border-color: #FF3D71,
        input-medium-text-font-weight: 400,

        select-outline-basic-background-color: #FAFAFA,
        select-outline-basic-placeholder-text-color: rgba(#121A23, 0.5),
        select-outline-basic-hover-background-color: #FFFFFF,
        select-outline-basic-hover-border-color: #C5E2F2,
        select-outline-basic-focus-background-color: #FFFFFF,
        select-outline-basic-focus-border-color: color-info-active,
        select-outline-basic-disabled-background-color: select-outline-basic-background-color,
        select-outline-basic-disabled-border-color: #E4E9EB,
        select-outline-basic-disabled-text-color: text-basic-color,
        select-outline-danger-text-color: text-basic-color,
        select-outline-danger-placeholder-text-color: rgba(#121A23, 0.5),
        select-outline-danger-hover-background-color: select-outline-basic-background-color,
        select-outline-danger-hover-border-color: #FFC3D3,
        select-outline-danger-focus-background-color: select-outline-basic-background-color,
        select-outline-danger-focus-border-color: #FF3D71,
        select-medium-text-font-weight: 400,

    ),
    default,
    default
);

$title-color: #0B3255;
$label-color: #393C3E;
$option-color: #82878B;
$scrollbar: #BBC1C5;

//table設定
.paginator {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    margin: 1rem 0;
    &:not(.only) {
        display: unset;
        justify-content: unset;
        position: absolute;
        bottom: 40px;
        margin: unset;
    }
}
ng2-smart-table {
    nav.ng2-smart-pagination-nav {
        justify-content: flex-end !important;
    }
    nav.ng2-smart-pagination-nav .pagination li {
        height: 2rem;
        a {
            color: #009FEB !important;
            padding: 0;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        span {
            padding: 0;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.active>span { background-color: #009FEB !important; }
    }
    table tr td {
        padding: 0rem 1.25rem !important;
    }
}
nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 2.25rem !important;
    @media (max-width: 767.98px) {
        padding: 1rem 1rem 1rem !important;
    }
}
nb-toggle.status-basic {
    .toggle.checked {
        background-color: #009FEB !important;
        border-color: #009FEB !important;
    }
    .native-input:enabled + .toggle:hover, .native-input:enabled:focus + .toggle {
        background-color: rgba(#009FEB, 0.16) !important;
        border-color: #009FEB !important;
    }
    .toggle-switcher nb-icon { color: #009FEB !important; }
}