* { font-family: "Arial", "微軟正黑體", "Microsoft JhengHei", "黑體-繁", "Heiti TC", "DFKai-SB" !important; }

body { overflow: hidden; }

// $title-color: #0B3255;
$label-color: #393C3E;
$option-color: #82878B;
$scrollbar: #BBC1C5;

// color
.color_blue { color: nb-theme(color-primary-500) !important; }
.color_skyBlue { color: nb-theme(color-info-500) !important; }
.color_red { color: nb-theme(color-danger-500) !important; }
.color_green { color: nb-theme(color-success-500) !important; }
.color_orange { color: nb-theme(color-warning-500) !important; }
.color_gray { color: $option-color !important; }

// background 
.bg_blue { background: nb-theme(color-primary-500) !important; }
.bg_skyBlue { background: nb-theme(color-info-500) !important; }
.bg_red { background: nb-theme(color-danger-500) !important; }
.bg_green { background: nb-theme(color-success-500) !important; }
.bg_orange { background: nb-theme(color-warning-500) !important; }
.bg_gray { background: $option-color !important; }


.and { margin: 0 5px 0 10px; }

// 捲軸樣式
.nb-theme-default nb-sidebar .scrollable {
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: rgba($scrollbar, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba($scrollbar, 1);
        border-radius: 0;
    }
}

// 左側選單相關樣式
.nb-theme-default nb-sidebar {
    transition: width 0.3s;
    > div {
        position: relative !important;
        top: 0 !important;
    }
    nb-menu { margin: 0; }
    .scrollable { padding: 0; }
    &.expanded {
        &.left.fixed ~ .content { margin-left: 4.3rem; }
    }
    &.compacted {
        width: 4.3rem;
        &.left.fixed ~ .content { margin-left: 4.3rem; }
        nb-menu {
            width: 16rem;
            .menu-item a.active::before { display: none; }
        }
        .main-container { width: 16rem; }
        nb-menu > .menu-items > .menu-item > a span, .nb-theme-default nb-sidebar.compacted nb-menu > .menu-items > .menu-item > a nb-badge, .nb-theme-default nb-sidebar.compacted nb-menu > .menu-items > .menu-item > a .expand-state { display: initial; }
    }
}
.nb-theme-default nb-menu .menu-group, .nb-theme-default nb-menu .menu-item a { padding: 0; }
.nb-theme-default nb-menu .menu-item {
    min-height: 44px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    margin-bottom: 0;
    a {
        font-size: $f14;
        transition: all 0.3s;
        padding: 12px 20px 12px 0;
        &.active nb-icon { color: nb-theme(color-primary-500); }
        &:hover nb-icon { color: #FFFFFF; }
    }
    .menu-icon { margin: 0 calc((4.3rem - 20px)/2); }
    .menu-item:first-child { border-top: none; }
    > .menu-items {
        padding: 0;
        > .menu-item {
            min-height: 40px;
            margin: 0;
            a {
                position: relative;
                min-height: 40px;
                font-size: $f14;
                color: #FFFFFF;
                background-color: rgba($color: #FFFFFF, $alpha: 0);
                padding: 0px 0 0 35px;
                transition: background-color 0.3s;
                span {
                    line-height: 40px;
                    border-left: 1px solid rgba($color: #FFFFFF, $alpha: 0.3);
                    padding: 0px 0 0 35px;
                }
                &.active {
                    color: #FFFFFF;
                    background: rgba($color: #FFFFFF, $alpha: 0.08);
                    &:before {
                        height: 24px;
                        background: rgba($color: #FFFFFF, $alpha: 1);
                    }
                    &:hover {
                        color: #FFFFFF;
                        &:after {
                            right: 0;
                            background: rgba($color: #FFFFFF, $alpha: 0.08);
                        }
                    }
                }
                &:after {
                    position: absolute;
                    content: '';
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 16rem;
                    background: rgba($color: #FFFFFF, $alpha: 0);
                    transition: all 0.3s;
                }
                &:before {
                    position: absolute;
                    content: '';
                    left: 34px;
                    top: 8px;
                    height: 0;
                    width: 3px;
                    border-radius: 5px;
                    background: rgba($color: #FFFFFF, $alpha: 0);
                    transition: all 0.3s;
                }
                &:hover {
                    color: #FFFFFF;
                    &:after {
                        right: 0;
                        background: rgba($color: #FFFFFF, $alpha: 0.08);
                    }
                }
            }
        }
    }
}
@media all and (max-width: 575px) {
    .nb-theme-default nb-sidebar {
        &.expanded {
            &.left.fixed ~ .content { margin-left: 0; }
        }
    }
}

// 中間區塊相關樣式
.nb-theme-default {
    nb-layout {
        .layout {
            background-color: #FAFAFA;
            nb-layout-column {
                position: relative;
                overflow-y: scroll;
                height: calc(100vh - 4.75rem);
                padding: 0 !important;
                &::-webkit-scrollbar {
                    width: 6px;
                    height: 6px;
                    background: rgba($scrollbar, 0.1);
                }
                &::-webkit-scrollbar-thumb {
                    background: rgba($scrollbar, 1);
                    border-radius: 0;
                }
            }
        }
        &.with-scroll .scrollable-container { overflow-y: unset; }
    }
    nb-context-menu nb-menu .menu-item a {
        color: nb-theme(text-basic-color);
        padding: 0.75rem 1rem;
        &:hover { color: nb-theme(color-primary-500); }
    }
    nb-user.size-medium .user-title { font-size: $f13; }
    nb-card {
        border: 0;
        nb-card-header, nb-card-body {
            position: relative;
            .row {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
            .rightBox {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-end;
                @media all and (max-width: 600px) {
                    width: 100%;
                    justify-content: flex-start;
                    flex: unset;
                    margin-top: 0.25rem;
                    nb-select {  margin-top: 0.25rem; }
                }
            }
        }
        nb-card-header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            h2, p {
                line-height: initial;
                font-weight: bold;
                color: nb-theme(color-primary-500);
                &:not(:nth-last-child(1)) { margin-right: 0.75rem; }
            }
            h2 { font-size: $f16; }
            p { font-size: $f15; }
            .fieldGroup { padding: 0 0.625rem 0 0 !important; }
            &.column-header { flex-wrap: nowrap; }
        }
        nb-card-body {
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: rgba($scrollbar, 0.1);
            }
            &::-webkit-scrollbar-thumb {
                background: rgba($scrollbar, 1);
                border-radius: 0;
            }
        }
        nb-card-footer {
            .btnGroup { margin-bottom: 0; }
            [nbButton] {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &.colorArea { padding: 0; }
    }
    nb-accordion {
        border-radius: 0.25rem;
        box-shadow: none;
        margin-bottom: 1.875rem;
        nb-accordion-item-header, nb-accordion-item-body {
            position: relative;
            .row {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
            .rightBox {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                nb-select { width: 12rem; }
                @media all and (max-width: 600px) {
                    width: 100%;
                    justify-content: flex-start;
                    flex: unset;
                    margin-top: 0.25rem;
                    nb-select {  margin-top: 0.25rem; }
                }
            }
        }
        nb-accordion-item-header {
            border-bottom: 1px solid #DBDEE1;
            padding: 1rem 1.5rem;
            h2, p {
                line-height: initial;
                font-weight: bold;
                color: nb-theme(color-primary-500);
                &:not(:nth-last-child(1)) { margin-right: 0.75rem; }
            }
            h2 { font-size: $f16; }
            p { font-size: $f15; }
            .fieldGroup { padding: 0 0.625rem 0 0 !important; }
            &.column-header { flex-wrap: nowrap; }
        }
        nb-accordion-item-body {
            .item-body { padding: 1rem 1.5rem; }
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
                background: rgba($scrollbar, 0.1);
            }
            &::-webkit-scrollbar-thumb {
                background: rgba($scrollbar, 1);
                border-radius: 0;
            }
        }
    }
    nb-button-group [nbButton] { margin: unset; }
    nb-select {
        .select-button { min-width: unset; }
        &:disabled { pointer-events: none; }
        &.appearance-outline {
            &.status-basic {
                .select-button {
                    font-weight: initial;
                    &:disabled { opacity: 0.5; }
                    nb-icon { color: $option-color; }
                }
            }
        }
        &.size-medium .select-button { font-size: $f16; }
    }
    nb-option { background-color: #FAFAFA; }
    nb-option-list {
        background-color: #FAFAFA;
        border-color: #C5E2F2;
    }
    nb-datepicker-container {
        nb-card {
            background: #FAFAFA;
            border-color: #E4E9EB;
            nb-card-header { flex-wrap: nowrap; }
        }
    }
    nb-radio-group, .checkboxGroup {
        display: flex;
        flex-wrap: wrap;
    }
    nb-radio {
        label { cursor: pointer; }
        .text {
            font-size: $f15;
            font-weight: initial;
        }
        &.status-info {
            label {
                &:hover {
                    .native-input:enabled {
                        ~ .outer-circle {
                            border-color: nb-theme(color-info-500);
                            background-color: transparent;
                        }
                        ~ .inner-circle { background-color: rgba(nb-theme(color-info-500), 0.3);}
                    }
                }
                &:active {
                    .native-input:enabled {
                        ~ .outer-circle {
                            border-color: nb-theme(color-info-500);
                            background-color: transparent;
                        }
                        ~ .inner-circle { background-color: rgba(nb-theme(color-info-500), 1);}
                    }
                }
            }
            .native-input:enabled {
                ~ .outer-circle, ~ .inner-circle, ~ .text { transition: all 0.3s; }
                ~ .outer-circle {
                    border-color: nb-theme(color-info-500);
                    background-color: transparent;
                }
                ~ .inner-circle { background-color: transparent; }
                ~ .text {
                    color: $option-color;
                }
                &:checked {
                    ~ .outer-circle { border-color: nb-theme(color-info-500); }
                    ~ .inner-circle { background-color: nb-theme(color-info-500); }
                    ~ .text {
                        font-weight: bold;
                        color: nb-theme(color-info-500);
                    }
                }
            }
            .native-input:disabled {
                pointer-events: none;
                ~ .outer-circle, ~ .inner-circle, ~ .text { opacity: 0.3; }
                ~ .outer-circle {
                    border-color: nb-theme(color-info-500);
                    background-color: transparent;
                }
                ~ .inner-circle { background-color: transparent; }
                ~ .text {
                    font-weight: initial;
                    color: $option-color;
                }
                &:checked {
                    ~ .outer-circle { border-color: nb-theme(color-info-500); }
                    ~ .inner-circle { background-color: nb-theme(color-info-500); }
                    ~ .text {
                        font-weight: bold;
                        color: nb-theme(color-info-500);
                    }
                }
            }
        }
        &.status-danger {
            label {
                &:hover {
                    .native-input:enabled {
                        ~ .outer-circle {
                            border-color: nb-theme(color-danger-500);
                            background-color: transparent;
                        }
                        ~ .inner-circle { background-color: rgba(nb-theme(color-danger-500), 0.3);}
                    }
                }
                &:active {
                    .native-input:enabled {
                        ~ .outer-circle {
                            border-color: nb-theme(color-danger-500);
                            background-color: transparent;
                        }
                        ~ .inner-circle { background-color: rgba(nb-theme(color-danger-500), 1);}
                    }
                }
            }
            .native-input:enabled {
                ~ .outer-circle, ~ .inner-circle, ~ .text { transition: all 0.3s; }
                ~ .outer-circle {
                    border-color: nb-theme(color-danger-500);
                    background-color: transparent;
                }
                ~ .inner-circle { background-color: transparent; }
                ~ .text { color: $option-color; }
                &:checked {
                    ~ .outer-circle {
                        border-color: nb-theme(color-danger-500);
                    }
                    ~ .inner-circle {
                        background-color: nb-theme(color-danger-500);
                    }
                    ~ .text {
                        font-weight: bold;
                        color: nb-theme(color-danger-500);
                    }
                }
            }
        }
    }
    nb-checkbox {
        label.label {
            cursor: pointer;
            padding: 0.375rem 1.5rem 0.375rem 0;
        }
        .text {
            font-size: $f15;
            font-weight: initial;
            &:not(:empty) { padding-left: 0.5rem !important; }
        }
        &.status-info {
            .text {
                color: $option-color;
            }
            .native-input:disabled {
                ~ .text, + .custom-checkbox { opacity: 0.3; }
                ~ .text { color: $option-color; }
                + .custom-checkbox {
                    background-color: transparent;
                    border-color: nb-theme(color-info-500);
                }
                &:checked {
                    + .custom-checkbox {
                        background-color: nb-theme(color-info-500);
                        border-color: nb-theme(color-info-500);
                    }
                }
                &.checked {
                    ~ .text { color: nb-theme(color-info-500); }
                    nb-icon { color: #FFFFFF; }
                }
            }
            .custom-checkbox, .native-input:disabled {
                background-color: transparent;
                border-color: nb-theme(color-info-500);
                &.checked {
                    background-color: nb-theme(color-info-500);
                    border-color: nb-theme(color-info-500);
                    ~ .text {
                        font-weight: bold;
                        color: nb-theme(color-info-500);
                    }
                    nb-icon { color: #FFFFFF; }
                }
            }
            &:hover .custom-checkbox {
                background-color: rgba(nb-theme(color-info-500), 0.3);
                border-color: nb-theme(color-info-500);
            }
            &:focus .custom-checkbox {
                background-color: nb-theme(color-info-500);
                border-color: nb-theme(color-info-500);
            }
        }
        &.status-danger {
            .text { color: $option-color; }
            .custom-checkbox, .native-input:disabled {
                background-color: transparent;
                border-color: nb-theme(color-danger-500);
                &.checked {
                    background-color: nb-theme(color-danger-500);
                    border-color: nb-theme(color-danger-500);
                    ~ .text {
                        font-weight: bold;
                        color: nb-theme(color-danger-500);
                    }
                    nb-icon { color: #FFFFFF; }
                }
            }
            &:hover .custom-checkbox {
                background-color: rgba(nb-theme(color-danger-500), 0.3);
                border-color: nb-theme(color-danger-500);
            }
            &:focus .custom-checkbox {
                background-color: nb-theme(color-danger-500);
                border-color: nb-theme(color-danger-500);
            }
        }
    }
    nb-tabset {
        .tabset {
            border-width: 1.5px;
            border-color: #E4E9F2;
            margin-bottom: 1rem !important;
            .tab {
                .tab-link {
                    min-width: 100px;
                    justify-content: center;
                    font-size: $f16;
                    font-weight: normal;
                    padding: 1rem;
                }
                .tab-text { color: $option-color; }
                &.active .tab-text {
                    font-weight: bold;
                    color: nb-theme(color-primary-500);
                }
            }
        }
        nb-tab { padding: 0; }
    }
    nb-toggle {
        &.status-basic {
            .toggle-switcher {
                background-color: #FFFFFF;
                nb-icon { color: nb-theme(color-success-500); }
            }
            .toggle {
                background-color: rgba(#8F9BB3, 0.08);
                border-color: #B2B9BD;
                &.checked {
                    background-color: nb-theme(color-success-500);
                    border-color: nb-theme(color-success-500);
                }
            }
            .native-input:enabled {
                + .toggle {
                    &:hover {
                        background-color: rgba(nb-theme(color-success-500), 0.16);
                        border-color: nb-theme(color-success-500);
                        &.checked {
                            background-color: nb-theme(color-success-500);
                            border-color: nb-theme(color-success-500);
                        }
                    }
                }
                &:focus {
                    + .toggle {
                        background-color: rgba(nb-theme(color-success-500), 0.24);
                        border-color: nb-theme(color-success-500);
                        &.checked {
                            background-color: nb-theme(color-success-500);
                            border-color: nb-theme(color-success-500);
                        }
                    }
                }
            }
        }
    }
    nb-tag {
        display: flex;
        align-items: center;
        &.size-medium {
            font-size: $f15;
            font-weight: bold;
            line-height: 1.2;
            margin: 5px;
            padding: 0.1875rem 0.75rem;
        }
        &.size-large {
            font-size: $f15;
            font-weight: bold;
            line-height: 1.2;
            margin: 5px;
            padding: 0.375rem 0.9375rem;
        }
        &.appearance-filled.status-basic { color: #FFFFFF; }
    }
    nb-list {
        nb-list-item {
            display: flex;
            justify-content: space-between;
            word-break: break-all;
            padding: 1rem 1.5rem;
            &:nth-child(1){ border-top: 0; }
            &:nth-last-child(1){ border-bottom: 0; }
        }
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
            background: rgba($scrollbar, 0.1);
        }
        &::-webkit-scrollbar-thumb {
            background: rgba($scrollbar, 1);
            border-radius: 0;
        }
    }
    [nbInput] {
        &.status-basic {
            &:disabled {
                pointer-events: none;
                opacity: 0.5;
            }
            &.size-medium { font-size: $f16; }
            &.automatic {
                pointer-events: none;
                color: rgba($color: nb-theme(text-basic-color), $alpha: 1);
                background-color: #FFFFFF;
                border-color: #E4E9EB;
                &::placeholder { color: rgba($color: nb-theme(text-basic-color), $alpha: 1); }
            }
        }
    }
    [nbButton] {
        margin: 0.5rem;
        &:disabled { color: #FFFFFF !important; }
        &.iconBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 25px;
            height: 25px;
            margin: 0.25rem;
            padding: 0 !important;
            nb-icon {
                width: 19px;
                height: 19px;
                transition: all 0.3s;
                margin: 0;
            }
            &.btnSwitch {
                &.btnClick {
                    nb-icon { transform: rotate(90deg); }
                }
            }
        }
        &.size-medium {
            font-size: $f16;
            nb-icon {
                width: 18px !important;
                height: 18px !important;
                margin-right: 0.375rem !important;
            }
        }
        &.size-small {
            font-size: $f14;
            margin: 0.25rem;
        }
        &.appearance-filled.status-basic { color: #FFFFFF; }
        &.appearance-ghost {
            &:hover,&:active,&:focus:not(:hover):not(:active) {
                background-color: rgba(255, 255, 255, 0) !important;
                border-color: rgba(255, 255, 255, 0) !important;
                box-shadow: none !important;
            }
            &:hover { filter: brightness(1.1); }
            &:active { filter: brightness(0.85); }
        }
    }
    .nb-tag-input {
        color: #121A23;
        border-radius: 0.25rem;
        border: 1px solid #E4E9F2;
        background-color: #FAFAFA;
        padding: 0.4375rem 1rem !important;
        &:disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
.pageContent { padding: 0 1.5rem 1.5rem 2rem; }
hr {
    border: 1px dashed #BBC1C5;
    margin: 1.25rem 0;
}
p { margin: 0; }
ul {
    position: relative;
    width: 100%;
    list-style-type: decimal;
    padding: 0 0 0 1rem;
    li {
        position: relative;
        &:not(:nth-last-of-type(1)) {
            margin-bottom: 0.5rem;
        }
        &.expandItem {
            width: 100%;
            padding-right: 1.75rem;
            nb-icon {
                position: absolute;
                top: 0;
                right: 0;
                width: 18px;
                height: 18px;
            }
            &.expanded nb-icon {
                transform: rotate(90deg);
                transition: all 0.3s;
            }
        }
        ul {
            list-style-type: disc;
            padding: 0.25rem 0 0.25rem 1.5rem;
            li { margin: 0.2rem 0; }
        }
    }
    &.disc { list-style-type: disc; }
    &.dec { list-style-type: decimal; }
    &.dec-zero {
        list-style-type: decimal-leading-zero;
        padding-left: 1.625rem;
    }
    &.lowerAlpha { list-style-type: lower-alpha; }
    &.upperAlpha { list-style-type: upper-alpha; }
    &.cjk {
        list-style-type: cjk-ideographic;
        padding-left: 1.875rem;
    }
    &.none {
        list-style-type: none;
        padding-left: 0;
    }
}
.pageTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem 2rem;
    h1 {
        font-size: $f19;
        color: nb-theme(color-primary-600);
        line-height: initial;
        margin: 0;
        margin-right: 0.5rem;
    }
}
.subTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
    &:after {
        content: '';
        min-width: 15%;
        flex: 1 1;
        border-bottom: 1px solid #BBC1C5;
        margin: auto auto auto 0.5rem;
    }
    p {
        font-size: $f15;
        font-weight: bold;
        margin-right: 0.5rem;
    }
}
.pageNav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 1.25rem 2rem;
    margin-bottom: 0;
    nb-icon {
        width: 1rem;
        height: 1rem;
        margin-right: 0.25rem;
    }
    li {
        position: relative;
        font-size: $f14;
        color: nb-theme(color-primary-500);
        &:nth-last-of-type(1) { font-weight: bold; }
        &:not(:nth-last-of-type(1)) {
            margin-right: 1rem;
            margin-bottom: 0;
            &:after {
                content: '/';
                position: absolute;
                right: -9px;
                top: -1px;
                font-size: 1rem;
            }
            &:hover {
                cursor:  pointer;
                text-decoration: underline;
            }
        }
    }
    + .pageTitle { margin-top: -2rem; }
}
.btnGroup {
    width: calc(100% + 1rem);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 -0.5rem 1rem;
    [nbButton] { margin: 0.25rem 0.5rem; }
    @media all and (max-width: 768px) {
        [nbButton] {
            min-width: 180px;
            flex: 1;
        }
    }
}
.noteText {
    display: flex;
    background: rgba($color: nb-theme(color-info-500), $alpha: 0.1);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    margin-bottom: 0.5rem;
    nb-icon, p, li { color: nb-theme(color-info-500); }
    nb-icon {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
        margin-right: 0.5rem;
        + p { margin-top: 2px }
    }
    p, li {
        font-size: $f14;
        font-weight: bold;
        &:not(:nth-last-child(1)) { margin-bottom: 0.25rem; }
    }
    ul:last-child { margin-bottom: 0; }
    &.alert {
        background: rgba($color: nb-theme(color-danger-500), $alpha: 0.1);
        nb-icon,p,li { color: nb-theme(color-danger-500); }
    }
}
.searchBar {
    width: 100%;
    display: flex;
    [nbInput] { margin: 0.5rem 0; }
    [nbButton] { margin-right: 0; }
}
.colorArea {
    border-radius: 0.25rem;
    background-color: #F1F3F5 !important;
    padding: 1rem 1.5rem;
    margin-bottom: 0.75rem;
    &.redBG { background-color: #FFEBF0 !important; }
    &.blueBG { background-color: #E5F3FA !important; }
}
.fieldGroupContainer {
    padding: 1rem 0.5rem;
    > .fieldGroup {
        border-left: 4px solid #C5E2F2;
        padding: 0 1rem !important;
        &:not(:nth-last-of-type(1)) {
            padding-bottom: 1rem !important;
        }
    }
}
.fieldGroup {
    display: flex;
    flex-direction: column;
    padding: 0.5rem !important;
    > label {
        position: relative;
        width: fit-content;
        font-size: $f15;
        font-weight: bold;
        color: $label-color;
        margin-bottom: 0.375rem;
    }
    > div {
        position: relative;
        display: flex;
        align-items: center;
        > div {
            width: 100%;
            input:not(:nth-last-child(1)){ margin-bottom: 0.5rem; }
        }
        [nbButton] {
            margin: 0 0.5rem;
            &:not(:nth-last-of-type(1)) { margin-right: 0; }
        }
        input[type="file"] {
            cursor:  pointer;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 2;
            ~ p {
                width: 100%;
                font-size: $f15;
                line-height: 1.5rem;
                color: nb-theme(text-basic-color);
                background-color: #FAFAFA;
                border: 1px solid #E4E9F2;
                border-radius: 0.25rem;
                padding: 0.4375rem 1rem;
            }
        }
        .customOption {
            width: 100%;
            [nbInput] {
                width: calc(100% - 1.25rem - 0.5rem);
                margin-left: calc(1.25rem + 0.5rem);
            }
        }
        &:not(:nth-last-child(1)){ margin-bottom: 0.5rem; }
        &.preview {
            flex-direction: column;
            background-color: #FAFAFA;
            border: 1px dashed #E4E9EB;
            border-radius: 0.25rem;
            padding: 1rem;
            img {
                max-width: 75%;
                margin: 0.5rem 0;
            }
            p {
                display: flex;
                font-size: $f14;
                font-weight: bold;
                // color: rgba($color: $title-color, $alpha: 0.5);
                color: rgba(nb-theme(color-primary-500), $alpha: 0.5);
                nb-icon { margin-right: 0.2rem; }
            }
        }
        &.textEditor > * { width: 100%; }
        &.multi {
            * {
                margin-left: 0.25rem;
                margin-right: 0.25rem;
                &:nth-child(1){ margin-left: 0; }
                &:nth-last-child(1){ margin-right: 0; }
            }
            nb-checkbox label{
                padding-right: 0;
                margin-right: 0 !important;
            }
            span { white-space: nowrap; }
            .multiItem {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                align-self: flex-start;
                [nbInput], nb-select { flex: 1; }
                .note {
                    width: 100%;
                    margin-top: 0.5rem;
                }
                &~span {
                    align-self: flex-start;
                    margin-top: 0.625rem;
                }
            }
            &.tel {
                input:nth-child(1){ width: 7rem; }
                nb-select { min-width: 7rem; }
                input.ext { width: 6rem; }
            }
        }
    }
    .note {
        display: flex;
        align-items: flex-start;
        color: nb-theme(color-info-500);
        margin-top: -0.25rem;
        margin-bottom: 0.375rem !important;
        nb-icon {
            font-size: $f15;
            margin: 3px 3px 0 0;
        }
        p, a { font-size: $f14; }
        p {
            width: calc(100% - 18px);
            color: nb-theme(color-info-500);
        }
        &.errorText {
            display: none;
            color: nb-theme(color-danger-500);
            p { color: nb-theme(color-danger-500); }
        }
    }
    .btnGroup {
        justify-content: flex-start;
        align-items: flex-end;
        height: 100%;
        margin-bottom: 0;
        [nbButton] { margin-bottom: 0; }
    }
    &.essential {
        > label:before {
            position: absolute;
            content: '*';
            right: -10px;
            top: 0;
            font-size: $f12;
            color: nb-theme(color-danger-500);
        }
    }
    &.automatic, &.disabled {
        input, nb-select, nb-select button, textarea {
            pointer-events: none;
            background-color: #FFFFFF !important;
        }
        button { pointer-events: none; }
    }
    &.disabled { opacity: 0.5; }
    &.error .errorText { display: flex; }
    &.password {
        input, nb-select, textarea { padding-right: 2.25rem !important; }
        button {
            position: absolute !important;
            right: 0;
            border: unset !important;
            background: unset !important;
            box-shadow: unset !important;
            margin: 0 !important;
            nb-icon { margin: 0; }
        }
    }
    &.toggleBasic > div:not(.note) {
        justify-content: space-between;
        align-items: center;
        nb-toggle label { margin: 0; }
        p { margin-right: 0.5rem; }
    }
}
.fieldBtn {
    display: flex;
    align-items: center;
    padding: 0;
    [nbButton] {
        &.status-control {
            color: #00D68F !important;
            border: 0;
            background-color: transparent !important;
            padding: 0.5rem 0 !important;
        }
    }
}
.textGroup {
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 0.625rem;
    > div span {
        display: block;
        margin-bottom: 0.25rem;
    }
    > button {
        align-self: flex-start;
        margin: -0.25rem 0.5rem 0 !important;
    }
    p, a, span { font-size: $f15; }
    p {
        word-break: keep-all;
        font-weight: bold;
        color: $label-color;
        margin: 0;
    }
    a { word-break: break-all; }
    span { color: nb-theme(text-basic-color); }
    &.code {
        flex-wrap: wrap;
        pre {
            width: 100%;
            color: #FFFFFF;
            background: $label-color;
            margin-top: 0.5rem;
            padding: 1rem 1.5rem;
        }
    }
    &.gather {
        align-items: center;
        margin-right: 10px;
        padding: 0;
        p, span { margin-right: 10px; }
        nb-tag {
            text-transform: inherit;
            border-radius: 4px;
            margin: 0;
            padding: 4px;
        }
    }
}
.textBlock {
    padding: 0.625rem;
    > p, a {
        width: fit-content;
        margin-bottom: 0.5rem;
    }
    a {
        word-break: break-all;
        display: inline-block;
    }
}
.listBlock {
    position: relative;
    border-radius: 0.25rem;
    border: 1px solid #DBDEE1;
    margin: 0.5rem 0 0.75rem;
    nb-list {
        max-height: 25rem;
        nb-list-item { padding: 0.75rem 1.5rem; }
    }
}
.historyList {
    position: relative;
    padding: 0 0.625rem;
    margin-bottom: 0.75rem;
    .historyItem {
         .mainItem {
            display: flex;
            align-items: center;
            button {
                display: none;
                nb-icon { transition: transform 0.3s; }
            }
        }
        h4 {
            position: relative;
            font-size: $f16;
            line-height: initial;
            color: rgba($color: nb-theme(color-info-500), $alpha: 0.6);
            margin: 0;
            padding-left: calc(0.5rem + 20px);
            &:before {
                content: '';
                position: absolute;
                left: calc(0.5rem + 3px);
                top: calc((100% - 8px)/2);
                z-index: 1;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                background: #FFFFFF;
                outline: 2.5px solid #e6e6e6;
            }
            &:after {
                content: '';
                position: absolute;
                top: -20px;
                bottom: -16px;
                left: calc(0.5rem + 6px);
                z-index: 0;
                width: 2px;
                background: nb-theme(color-info-500);
            }
        }
        .subItem {
            position: relative;
            display: flex;
            align-items: baseline;
            margin: 0 0 0 calc(0.5rem + 20px);
            padding: 10px 0 0;
            > div {
                p {
                    color: #5D5D5D;
                    line-height: initial;
                }
                &:nth-of-type(1) {
                    position: relative;
                    margin-right: 1rem;
                    p { font-size: $f14; }
                    &:before {
                        content: '';
                        position: absolute;
                        left: calc((-20px - 0.5rem - 6px)/2);
                        top: calc((100% - 8px)/2);
                        z-index: 1;
                        width: 8px;
                        height: 8px;
                        border-radius: 8px;
                        background: nb-theme(color-info-500);
                    }
                }
                &:nth-of-type(2) p {
                    font-size: $f15;
                    &:nth-of-type(1) { font-weight: bold; }
                }
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: -8px;
                z-index: 0;
                left: calc((-0.5rem - 20px)/2);
                width: 2px;
                background: nb-theme(color-info-500);
            }
        }
        &.active {
            h4 {
                color: nb-theme(color-info-500);
                &:before {
                    outline: 2.5px solid rgba($color: nb-theme(color-info-500), $alpha: 0.3);
                    background: nb-theme(color-info-500);
                }
            }
        }
        &.moreBtn {
            .mainItem {
                h4 { cursor:  pointer; }
                button { display: flex; }
            }
            &.closeSubItem .mainItem button nb-icon { transform: rotate(90deg); }
        }
        &:not(:nth-of-type(1)) { padding-top: 1.25rem; }
        &:nth-of-type(1) h4:after { top: 8px; }
        &:nth-last-of-type(1) {
            h4:after { bottom: 8px; }
            .mainItem ~ .subItem {
                &::after { top: -8px; }
                &:nth-last-of-type(1)::after { bottom: 20px; }
            }
        }
    }
}
.cardGroup {
    > div {
        padding: 0.875rem 0.625rem;
        nb-card {
            height: 100%;
            border: 0.0625rem solid #e4e9f2;
            margin: 0;
            nb-card-body {
                .textGroup { padding: 0.375rem 0; }
            }
        }
    }
}
.uploaderBlock {
    position: relative;
    margin-bottom: 0.75rem;
    padding: 0 0.625rem;
    > div {
        pointer-events: none;
        position: absolute;
        width: 200px;
        top: 3.5rem;
        left: calc((100% - 200px)/2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        nb-icon {
            width: 73px;
            height: 73px;
            color: nb-theme(color-primary-500);
        }
        p {
            font-size: $f14;
            font-weight: bold;
            color: $option-color;
        }
    }
    ngx-awesome-uploader {
        max-width: unset !important;
        .file-drop-wrapper {
            background: transparent !important;
            padding-top: 0 !important;
            file-drop {
                padding: 0;
                .custom-drag {
                    max-width: unset !important;
                    background: #EDF1F7 !important;
                    border: 2px dashed #CFCFCF !important;
                    padding: 2rem 0 !important;
                    .content { visibility: hidden; }
                }
            }
        }
        .files-preview-wrapper {
            file-preview-container {
                background: transparent;
                file-preview-item {
                    max-width: unset;
                    border-radius: 5px;
                    border-bottom: 0;
                    background: transparent;
                    margin-top: 5px;
                    padding: 1rem;
                    .file-preview-wrapper {
                        > a {
                            background: #EDF1F7;
                            border-radius: 0.25rem;
                            position: absolute;
                            z-index: 1;
                            width: 100%;
                            height: 95%;
                            left: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            &.file-upload-error-wrappe { border-radius: 5px; }
                        }
                    }
                }
            }
        }
    }
    &.upload {
        ngx-awesome-uploader .file-drop-wrapper,  > div { display: none; }
    }
}
.tabSideBtn {
    position: absolute;
    top: 1.75rem;
    right: 1.25rem;
    @media all and (max-width: 600px) {
        position: relative;
        top: unset;
        right: unset;
        margin-bottom: 0.5rem;
    }
}
.tagFilter {
    text-align: right;
    nb-select {
        .select-button {
            color: #FFFFFF !important;
            background: rgb(143 155 179 / 80%) !important;
        }
        nb-icon { color: #FFFFFF !important; }
        &:hover .select-button { background: #8F9BB3 !important; }
        &:active .select-button { background: #727D93 !important; }
    }
}
.tagBlock {
    .tagItem {
        display: flex;
        align-items: baseline;
        font-weight: bold;
        nb-tag {
            word-break: keep-all;
            margin-right: 0.8rem;
        }
        .tagContent { font-weight: bold; }
    }
}
.btnItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #E4E9F2;
    background: #FFFFFF;
    padding: 0.2rem 0.5rem 0.2rem 1rem;
    p { color: #222B45; }
    &:not(:nth-last-of-type(1)) { margin-bottom: 10px; }
}
.colorInfo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p, span { font-size: $f14; }
    p {
        font-weight: bold;
        margin-right: 1rem;
    }
    > div {
        position: relative;
        display: flex;
        align-items: center;
        .gradient, .colorBlock {
            height: 12px;
            border-radius: 2px;
            margin: 0 5px;
        }
        .gradient {
            width: 85px;
            background: linear-gradient(to right, #9EDAF8 0%, #0078B2 100%);
        }
        .colorBlock {
            width: 12px;
            background: $scrollbar;
        }
        &:not(:nth-last-of-type(1)) { padding-right: 1rem; }
        &:nth-last-of-type(1) { padding-left: 1rem;}
        &:not(:nth-last-of-type(1)):after {
            position: absolute;
            content: '';
            top: 2px;
            bottom: 2px;
            right: 0;
            width: 2px;
            background: #E0E6E8;
        }
    }
}
.tableContainer {
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    padding: 0.5rem 0 1.5rem;
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        background: rgba($scrollbar, 0.1);
    }
    &::-webkit-scrollbar-thumb {
        background: rgba($scrollbar, 1);
        border-radius: 0;
    }
    .selectAll {
        position: absolute;
        top: 18px;
        left: 20px;
        z-index: 1;
    }
}
// 表格頁籤
.tablePager {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    ul.pagination {
        width: auto;
        display: flex;
        border: #DBDEE1 solid 1px;
        border-radius: 0.25rem;
        margin: 1.25rem 0;
        padding: 0;
        .pageItem {
            overflow: hidden;
            display: inline;
            margin-bottom: 0;
            a {
                display: block;
                cursor: pointer;
                font-size: 0.875rem;
                text-decoration: none;
                line-height: 1rem;
                border: none;
                background-color: transparent;
                color: #2A6191;
                padding: 0.75rem 1.25rem;
                span {
                    font-size: inherit;
                    line-height: inherit;
                    color: inherit;
                }
            }
            &:not(:nth-last-of-type(1)) { border-right: 1px solid #DBDEE1; }
            &:nth-child(1) {
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem;
            }
            &:nth-last-child(1) {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
            &.disable {
                a {
                    cursor: auto;
                    pointer-events: none;
                    background: transparent;
                    color: rgba(143, 155, 179, 0.48);
                }
            }
            &.active {
                color: #FFFFFF;
                background-color: #2A6191;
                a {
                    cursor: auto;
                    pointer-events: none;
                    color: #FFFFFF;
                    background-color: #2A6191;
                }
            }
        }
    }
}
table {
    position: relative;
    width: 100%;
    th, td {
        position: relative;
        vertical-align: middle;
        color: #121A23;
        border: 1px solid #DBDEE1;
        padding: 0.875rem 1.25rem;
    }
    th {
        font-size: $f16;
        font-weight: bold;
        &.w100 { width: 100px;}
        &.w150 { width: 150px;}
        &.w200 { width: 200px; }
        &.w250 { width: 250px; }
        &.w300 { width: 300px; }
        &.w350 { width: 350px; }
        &.w400 { width: 400px; }
        &.w450 { width: 450px; }
        &.w500 { width: 500px; }
        &.min_w100 { min-width: 100px;}
        &.min_w150 { min-width: 150px;}
        &.min_w200 { min-width: 200px; }
        &.min_w250 { min-width: 250px; }
        &.min_w300 { min-width: 300px; }
        &.min_w350 { min-width: 350px; }
        &.min_w400 { min-width: 400px; }
        &.min_w450 { min-width: 450px; }
        &.min_w500 { min-width: 500px; }
    }
    td {
        font-size: $f15;
        font-weight: normal;
        word-break: break-all;
        .btnCol {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            >[nbButton] { margin: 0 !important; }
        }
    }
    nb-checkbox {
        display: flex;
        align-items: center;
        justify-content: center;
        .label {
            display: flex !important;
            padding: 0 !important;
        }
    }
    // 篩選
    tr.filters th {
        padding: 6px 8px !important;
        [nbInput], nb-select {
            height: calc(1.5em + 0.75rem + 2px);
        }
    }
    // 展開收合表格
    &.expandTable {
        th {
            min-width: 7rem;
            white-space: normal;
        }
        td {
            position: relative;
            &:nth-child(1) { min-width: 13rem; }
        }
        tr {
            background-color: #FFFFFF;
            &:hover {
                background-color: #edf1f7 !important;
            }
            &.expand_row {
                td:nth-child(1) {
                    padding-left: 2.25rem;
                    .toggleIcon {
                        position: absolute;
                        top: calc(50% - 0.5rem);
                        left: 1rem;
                        width: 1rem;
                        height: 1rem;
                        color: #000000;
                        vertical-align: bottom;
                        cursor: pointer;
                        transition: all 0.3s;
                    }
                }
                &.expanded {
                    background-color: #edf1f7;
                    td {
                        font-weight: bold;
                        .toggleIcon { transform: rotate(90deg); }
                    }
                }
            }
            &.sub_row {
                td:nth-child(1) {
                    padding-left: calc(2.25rem + 1rem);
                    nb-icon { left: calc(1rem + 1rem); }
                }
                &.expanded {
                    background-color: #FFFFFF;
                    td {
                        font-weight: normal;
                    }
                }
            }
            &.child_row {
                background-color: #f7f9fc;
                td {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
                .textGroup {
                    padding: 0.25rem 0.5rem;
                    p {
                        color: #121A23;
                    }
                }
            }
            &.collapsed {
                display: none !important;
            }
        }
    }
}
.nb-theme-default ng2-smart-table {
    table {
        tr {
            th, td {
                p, a, span {
                    font-size: inherit !important;
                    font-weight: inherit;
                    color: inherit !important;
                }
            }
            th {
                font-size: $f16;
                font-weight: bold;
                color: $label-color;
                padding: 0.875rem 1.25rem !important;
            }
            td { font-size: $f15; }
        }
        tbody tr {
            &:nth-child(odd),&:nth-child(odd).select { background-color: #FAFAFA !important; }
            &:nth-child(even),&:nth-child(even).select { background-color: #FFFFFF !important; }
            &:hover { background-color: #F2F1F1 !important; }
        }
        // 篩選功能
        .ng2-smart-filters th { padding: 6px 8px !important; }
        // 操作按鈕
        .ng2-smart-actions {
            width: calc(3rem + 3rem + 1px);
            a.ng2-smart-action {
                width: 3rem !important;
                margin: 0;
            }
        }
        .ng-star-inserted {
            > nb-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .actionIcon {
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0 !important;
            background: unset !important;
            margin: 0 0.5rem;
            &:hover { filter: brightness(1.1); }
            &:active { filter: brightness(0.85); }
            &::before {
                content: '';
                position: absolute;
                width: 1.5rem;
                height: 1.5rem;
                transition: all 0.3s;
            }
            &.edit::before { background: url(~assets/images/ic_edit.svg); }
            &.delete::before { background: url(~assets/images/ic_delete.svg); }
            &.save::before { background: url(~assets/images/ic_save.svg); }
            &.cancel::before { background: url(~assets/images/ic_cancel.svg); }
        }
        nb-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            .label {
                display: flex !important;
                padding: 0;
            }
        } 
        nb-radio {
            display: flex;
            align-items: center;
            justify-content: center;
            label {
                position: relative;
                width: 20px;
                padding: 0 !important;
            }
        }
        nb-toggle {
            display: flex;
            align-items: center;
            justify-content: center;
            .toggle-label { margin-bottom: 0; }
        }
        nb-tag { margin: 2.5px !important; }
        .ng2-smart-action-multiple-select {
            text-align: center;
            padding: 0.875rem 1.25rem;
            width: 3rem;
        }
    }
    ng2-smart-table-pager {
        display: flex;
        nav.ng2-smart-pagination-nav {
            margin: auto;
            margin-top: 1.25rem;
            margin-right: 0;
            .ng2-smart-page-item { margin-bottom: 0; }
            .pagination {
                border-color: #DBDEE1;
                margin: 0;
                li {
                    a, span { color: #0078B2; }
                    &:not(:last-child) { border-color: #DBDEE1 !important; }
                    &.active {
                        a, a:hover, a:focus, > span { background-color: #0078B2; }
                    }
                    &.disabled a span { color: rgba(143, 155, 179, 0.48);}
                }
            }
            @media all and (max-width: 960px) {
                margin-top: 2.5rem;
            }
        }
    }
    ~ .tablePager {
        position: absolute;
        bottom: 3.25rem;
        @media all and (max-width: 960px) {
            right: 0;
            bottom: 5.75rem;
        }
    }
}

// 圖例 樣式
.legend {
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0.5rem;
    div {
        display: flex;
        align-items: center;
        &:not(:last-child) { margin-right: 10px; }
        span {
            width: 1.5rem;
            height: 0.625rem;
            border-radius: 2px;
            margin-right: 5px;
        }
        p {
            font-size: $f10;
            color: $label-color;
        }
    }
}

// Dialog 樣式
.dialogCard {
    min-width: 320px;
    max-width: 85vw;
    min-height: 160px;
    max-height: 75vh;
    &.small { width: 320px; }
    &.medium { width: 500px; }
    &.large { width: 85vw; }
    &.statusDialog {
        min-height: unset;
        text-align: center;
        nb-icon {
            width: 4.25rem;
            height: 4.25rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        p, a {
            font-size: $f16;
            font-weight: bold;
        }
    }
    @media all and (max-width: 575px) {
        &.small, &.medium, &.large { width: 90vw; }
    }
}
