<nb-card class="dialogCard large" *ngIf="!!datas">
  <nb-card-header>
    <h2>用戶明細資訊-{{customerId}}</h2>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="textGroup col-4 col-lg-4">
          <p class="text_bold">姓名：</p>
          <span>{{datas?.userName}}</span>
      </div>
      <div class="textGroup col-4 col-lg-4">
          <p class="text_bold">手機號碼：</p>
          <span>{{datas?.mobile}}</span>
      </div>
      <div class="textGroup col-4 col-lg-4">
          <p class="text_bold">生日：</p>
          <span>{{datas?.birthday}}</span>
      </div>
      <div class="textGroup col-4 col-lg-4">
          <p class="text_bold">性別：</p>
          <span>{{datas?.gender | enum:'gender'}}</span>
      </div>
      <div class="textGroup col-4 col-lg-4">
          <p class="text_bold">開戶分行：</p>
          <span>{{datas?.branchName}}</span>
      </div>
      <div class="textGroup col-12 col-lg-12">
          <p class="text_bold">地址：</p>
          <span>{{datas?.address}}</span>
      </div>
    </div>
    <div class="subTitle">
      <p>用戶標籤輪廓</p>
    </div>
    <div class="rightBox">
      <div class="tagFilter">
        <nb-select placeholder="請選擇標籤所屬單位" [(selected)]="selectedDepartment" size="small" shape="round" hero >
          <nb-option *ngFor="let department of departments" [value]="department">標籤所屬單位：{{department}}</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="tagBlock row">
      <div class="tagItem col-6 col-lg-6" *ngFor="let tag of departmentTag[selectedDepartment]">
          <nb-tag status="info" appearance="filled" [text]="tag?.tagName"></nb-tag>
          <p class="tagContent">{{tag?.tagDescription}}</p>
      </div>
    </div>
    <div class="subTitle">
      <p>標籤歷程</p>
    </div>
    <div class="legend">
      <div><span class="bg_skyBlue"></span><p>規則標籤</p></div>
      <div><span class="bg_orange"></span><p>名單標籤</p></div>
    </div>
    <ngx-echarts-timeline-multi-range [datas]="departmentTag[selectedDepartment]"></ngx-echarts-timeline-multi-range>
  </nb-card-body>
  <nb-card-footer>
      <div class="btnGroup">
          <button nbButton status="basic" (click)="close()">關 閉</button>
      </div>
  </nb-card-footer>
</nb-card>