<nb-card class="list-card"  nbSpinnerStatus="info" nbSpinnerSize="giant">
  <nb-card-header class="text-h-center">
    <p>{{title}}</p>
  </nb-card-header>
  <nb-card-body [formGroup]="validateForm">
    <div class="row">
          <p>您可以加入尚未設定排程的名單列表</p>
    </div>
    <div class="row">
      <!-- <div class="textGroup col-12 col-lg-12" > -->
      <div class="fieldGroup essential col-12 col-lg-12" [ngClass]="{'error': validateForm.invalid}">
        <label>名單列表</label>
        <div>
          <input nbInput fullWidth type="text"  placeholder="請輸入或選擇"
          [nbAutocomplete]="auto"
          [status]="validateForm.invalid ? 'danger' : 'basic'"
          (blur)="onBlurActivityInput()"
          (input)="onActivityChange($event)"
           formControlName="activityName"/>
          <nb-autocomplete #auto (selectedChange)="onActivitySelectChange($event)">
            <nb-option *ngFor="let activity of filterDataList" [value]="activity">{{ activity.val }}</nb-option>
          </nb-autocomplete>
        </div>
        <div class="note errorText">
          <nb-icon icon="alert-triangle"></nb-icon>
          <p>{{validateForm.get('activityName')?.errors?.activityErrMsg}}</p>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="btnGroup">
      <button nbButton status="basic" size="medium" (click)="close()">關 閉</button>
      <button nbButton status="info" size="medium" (click)="submit()"
              [disabled]="!this.selectedActivityId ||
              validateForm.get('activityName')?.hasError('activityErrMsg') ||
              validateForm.get('activityName')?.value === ''">送 出</button>
    </div>
  </nb-card-footer>
</nb-card>

