<div class="chartArea" [class.expand]="isExpand">
  <div class="chartTitle">
    <h4>{{title}}</h4>
    <div [class]="color === green ? 'green' : color === 'yellow' ? 'yellow' : 'red'">
      <span>{{formatValue}}%</span>
      <span class="lamp"></span>
    </div>
  </div>
  <div class="chartContent">
    <div echarts [options]="option" class="echart" (chartInit)="onChartInit($event)"></div>
    <div>
      <div class="row h6">
        <span class="col-6 col-sm-6">{{formatValue}}%</span>
        <span class="col-6 col-sm-6">{{formatNumber(100 - formatValue)}}%</span>
      </div>
      <div class="row">
        <ngx-legend-chart [legendItems]="chartLegend" class="col-12 col-sm-12 legendArea"></ngx-legend-chart>
      </div>
    </div>
  </div>
</div>
