.noteText{
  flex-wrap: wrap;
  p{
    width: 90%;
    &:not(:first-of-type){
      padding-left: 2rem;
    }
  }
}

.link-style {
  color: #26DD84!important;
  text-decoration: none;
  cursor: pointer;
}

.disabled-link-style {
  color: gray!important;
  text-decoration: none;
  cursor: not-allowed;
}
