<!-- 頁面標題（可視需求增減功能按鈕）-->
<div class="pageTitle">
	<h1>儀表板</h1>
</div>

<!-- 頁面內容 -->
<div class="pageContent">
	<div class="row">
		<div class="col-lg-4">
			<nb-card>
				<nb-card-header>
					<h2>構面數據佔比與名單數據</h2>
				</nb-card-header>
				<nb-card-body>
					<ul class="categoryList">
						<li *ngFor="let category of categories">
							<div>
								<nb-icon icon="folder-outline"></nb-icon>
								<h3>{{ category?.name }} {{ (category?.tags / this?.totalTags * 100).toFixed(1) }}%</h3>
							</div>
							<p><span>{{ category?.tags }}</span>標籤數</p>
						</li>
					</ul>
					<ul class="categoryList userList">
						<li *ngIf="dashboardData?.customers">
							<div>
								<nb-icon icon="file-outline"></nb-icon>
								<h3>客群名單</h3>
							</div>
							<p><span>{{ dashboardData?.customers ?? 0 }}</span>份</p>
						</li>
					</ul>
				</nb-card-body>
			</nb-card>
			<nb-card>
				<nb-card-body class="pushLabel">
					<div class="icon-container">
						<nb-icon icon="award-outline"></nb-icon>
					</div>
					<div class="details">
						<h3>今日完成貼標之標籤數量</h3>
						<p>{{ dashboardData?.tagRecord?.tagged ?? 0 | number }}</p>
						<span>
							<nb-icon icon="alert-circle-outline"></nb-icon>
							 {{ dashboardData?.tagRecord?.fail ?? 0 | number }} 筆貼標失敗
						</span>
					</div>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-lg-8">
			<nb-card>
				<nb-card-header>
					<h2>標籤組成統計</h2>
				</nb-card-header>
				<nb-card-body>
					<dashboard-echarts-tree [data]="converTreeSeriesData(dashboardData?.categorys)"></dashboard-echarts-tree>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-lg-6">
			<nb-card>
				<nb-card-header>
					<h2>{{ dashboardData?.hotTags?.title }}</h2>
				</nb-card-header>
				<nb-card-body>
					<dashboard-echarts-treemap-hot [data]="convertTreeMapSeriesData(dashboardData?.hotTags)"></dashboard-echarts-treemap-hot>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-lg-6">
			<nb-card>
				<nb-card-header>
					<h2>{{ dashboardData?.coldTags?.title }}</h2>
				</nb-card-header>
				<nb-card-body>
					<dashboard-echarts-treemap-cool [data]="convertTreeMapSeriesData(dashboardData?.coldTags)"></dashboard-echarts-treemap-cool>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-lg-4">
			<nb-card>
				<nb-card-header>
					<h2>審核案件比例 {{ pieSeriesDataDate }}</h2>
				</nb-card-header>
				<nb-card-body>
					<dashboard-echarts-doughnut [data]="pieSeriesData"></dashboard-echarts-doughnut>
				</nb-card-body>
			</nb-card>
		</div>
		<div class="col-lg-8">
			<nb-card>
				<nb-card-header>
					<h2>每日案件審核數量</h2>
				</nb-card-header>
				<nb-card-body>
					<dashboard-echarts-line [data]="convertLineSeriesData(dashboardData?.reviewCaseInfos)" (chartEvent)="lineSeriesClick($event)"></dashboard-echarts-line>
				</nb-card-body>
			</nb-card>
		</div>
	</div>
</div>
