<div class="pageTitle">
  <h1>名單排程</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>排程列表</h2>
      </nb-card-header>
      <nb-card-body>
          <div class="rightBox">
            <button *ngIf="isCrud['create']" nbButton status="primary" size="medium" (click)="add()">新 增</button>
          </div>
          <ng-container *ngIf="restDataSource || dataSource as source" >
            <ng2-smart-table [settings]="gridDefine" [source]="source"></ng2-smart-table>
            <paginator [source]="source" [paginator]="paginator"></paginator>
          </ng-container>
      </nb-card-body>
  </nb-card>
</div>
