<div class="pageTitle">
    <h1>客群活動名單</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>{{actionName}}活動</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row">
                <basic-input class="col-12 col-lg-6" title="活動名稱" [form]="validateForm" ctlName="activityName"></basic-input>
                <radio class="col-12 col-lg-6" title="狀態" [form]="validateForm" ctlName="status"></radio>
            </div>
            <div class="row">
                <basic-input class="col-12 col-lg-6" title="名單上限" [form]="validateForm" ctlName="listLimit"></basic-input>
                <div class="fieldGroup col-12 col-lg-6">
                    <label>名單差異過濾</label>
                    <div>
                        <nb-checkbox status="basic" formControlName="filterOptions">啟用</nb-checkbox>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
            </div>
            <date-range [form]="validateForm"></date-range>
            <div class="row">
                <dropdown class="col-12 col-lg-6" title="排程設定" [form]="validateForm" ctlName="scheduleSettings"
                    [selectList]="{options: scheduleList, key: 'key', val: 'val'}"></dropdown>
                <basic-input class="col-12 col-lg-6" title="描述說明" [form]="validateForm" ctlName="activityDescription"></basic-input>
            </div>
            <ng-container *ngFor="let condition of conditions.controls; let i=index; let first1 = first; let last1 = last" formArrayName="activityListCondition">
                <div class="subTitle">
                    <p>活動名單條件{{i+1}}</p>
                    <button nbButton status="danger" *ngIf="!first1 || first1 !== last1" size="tiny" class="iconBtn" (click)="or('remove', i)">
                        <nb-icon icon="trash-2-outline"></nb-icon>
                    </button>
                    <button nbButton status="success" *ngIf="last1" size="tiny" class="iconBtn" (click)="or('add', i)">
                        <nb-icon icon="plus-outline"></nb-icon>
                    </button>
                </div>
                <div class="colorArea" [formGroupName]="i" *ngFor="let con of condition.value | keyvalue; let first2 = first; let last2 = last">
                    <div class="fieldGroup">
                        <div class="mb_0">
                            <nb-select fullWidth placeholder="請選擇" [formControlName]="''+con.key">
                                <nb-option [value]="con.value" [id]="con.key">{{con.value}}</nb-option>
                                <nb-option value="item2">item2</nb-option>
                            </nb-select>
                            <span class="and colorGreen">and</span>
                            <button nbButton status="danger" *ngIf="!first2 || first2 !== last2" size="tiny" class="iconBtn" (click)="and(i, 'remove', +con.key)">
                                <nb-icon icon="trash-2-outline"></nb-icon>
                            </button>
                            <button nbButton status="success" *ngIf="last2" size="tiny" class="iconBtn" (click)="and(i, 'add', +con.key)">
                                <nb-icon icon="plus-outline"></nb-icon>
                            </button>
                        </div>
                        <div class="note errorText">
                            <nb-icon class="and" icon="alert-triangle"></nb-icon>
                            <p>欄位錯誤訊息</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
            <button nbButton status="success" size="medium" (click)="preview()">預覽名單</button>
            <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="validateForm.invalid">送審</button>
        </div>
    </div>
</div>
