<div class="pageTitle">
    <h1>標籤審核</h1>
    <ng-container *ngIf="reviewStatus === 'reviewing'">
        <button nbButton status="primary" size="small" (click)="viewToggle()" *ngIf="!isBefore">查看異動前內容</button>
        <button nbButton status="primary" size="small" (click)="viewToggle()" *ngIf="isBefore">返回本次異動內容</button>
    </ng-container>
</div>
<div class="pageContent">
    <!-- 提示訊息 -->
    <div class="noteText" [ngClass]="{'alert': reviewStatus === 'rejected'}" *ngIf="reviewStatus !== 'reviewing'">
        <nb-icon icon="info-outline"></nb-icon>
        <p>審核結果：{{reviewStatus | enum:'reviewStatus'}}</p><br/>
        <p *ngIf="reviewStatus === 'rejected'">原因：{{reviewComment}}</p>
    </div>
    <nb-card>
        <nb-card-body>
            <div class="row">
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('tagName') | enum: 'reviewCompareClass'">標籤名稱：</p>
                    <span>{{detail.tagName}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('status') | enum: 'reviewCompareClass'">狀態：</p>
                    <span>{{detail.status | enum:'status'}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('tagType') | enum: 'reviewCompareClass'">類型：</p>
                    <span>{{detail.tagType | enum:'tagType'}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('department') | enum: 'reviewCompareClass'">所屬單位：</p>
                    <span>{{detail.department}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('owner') | enum: 'reviewCompareClass'">負責人：</p>
                    <span>{{detail.owner}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('startDate','endDate') | enum: 'reviewCompareClass'">起迄時間：</p>
                    <span>{{detail.startDate}}~{{detail.endDate}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('tagDimension') | enum: 'reviewCompareClass'">標籤屬性：</p>
                    <span>{{detail.tagDimension}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('tagSubDimension') | enum: 'reviewCompareClass'">標籤子構面：</p>
                    <span>{{detail.tagSubDimension}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('modificationTime') | enum: 'reviewCompareClass'">異動時間：</p>
                    <span>{{detail.modificationTime | date:dateFormat}}</span>
                </div>
                <div class="textGroup col-12 col-lg-4">
                    <p class="textBold" [ngClass]="changeClass('tagDescription') | enum: 'reviewCompareClass'">說明：</p>
                    <span>{{detail.tagDescription}}</span>
                </div>
                <div class="textGroup code col-12">
                    <p class="textBold" [ngClass]="changeClass('conditionSettingQuery') | enum: 'reviewCompareClass'">條件設定：</p>
                    <pre>{{detail.conditionSettingQuery}}</pre>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <div class="row" *ngIf="reviewStatus!=='reviewing'">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">返回</button>
        </div>
    </div>
    <div class="row" *ngIf="reviewStatus==='reviewing'">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="cancel()">返回</button>
            <button nbButton status="danger" size="medium" (click)="reject()">不同意</button>
            <button nbButton status="info" size="medium" (click)="approve()">同意</button>
        </div>
    </div>
    <nb-card>
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="異動歷程">
                    <div class="historyList">
                        <ng-container *ngFor="let hg of historyGroupView | keyvalue; let i=index;">
                            <div class="historyItem active moreBtn" [ngClass]="isHistoryOpen[hg.key] ? 'closeSubItem' : ''" *ngIf="hg.value as history;">
                                <div class="mainItem">
                                    <h4 (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">{{history.type}}</h4>
                                    <button nbButton status="control" size="tiny" class="iconBtn" (click)="isHistoryOpen[hg.key] = !isHistoryOpen[hg.key]">
                                        <nb-icon icon="chevron-down-outline"></nb-icon>
                                    </button>
                                </div>
                                <div class="subItem" [ngClass]="isHistoryOpen[hg.key] ? '' : 'displayNone'" *ngFor="let flow of history.flows">
                                    <div>
                                        <p>{{flow.time | date:dateFormat}}</p>
                                        <p>{{flow.time | date:'hh:mm:ss'}}</p>
                                    </div>
                                    <div>
                                        <p>{{flow.title}}</p>
                                        <p>{{flow.detail}}</p>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="標籤使用範圍">
                    <ng2-smart-table [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
                    <paginator [source]="dataSource" [paginator]="paginator"></paginator>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
    </nb-card>
</div>
