<div class="pageTitle">
  <h1>新增標籤</h1>
</div>
<div class="pageContent">
  <nb-card>
      <nb-card-header>
          <h2>新增活動</h2>
      </nb-card-header>
      <nb-card-body [formGroup]="validateForm">
          <div class="row">
              <div class="fieldGroup essential col-12 col-lg-6" [ngClass]="{'error': err}">
                  <label>標籤名稱</label>
                  <div>
                      <input nbInput fullWidth [status]="err?'danger':'basic'" type="text" placeholder="請輸入" formControlName="tagName"/>
                  </div>
                  <div class="note errorText">
                      <nb-icon icon="alert-triangle"></nb-icon>
                      <p>欄位錯誤訊息</p>
                  </div>
              </div>
              <div class="fieldGroup essential col-12 col-lg-6">
                  <label>狀態</label>
                  <div>
                      <nb-radio-group formControlName="status">
                          <nb-radio value="active">啟用</nb-radio>
                          <nb-radio value="stop">停用</nb-radio>
                      </nb-radio-group>
                  </div>
                  <div class="note errorText">
                      <nb-icon icon="alert-triangle"></nb-icon>
                      <p>欄位錯誤訊息</p>
                  </div>
              </div>

          </div>
      </nb-card-body>
  </nb-card>
  <div class="row">
      <div class="btnGroup">
          <button nbButton status="basic" size="medium" (click)="cancel()">取消</button>
          <button nbButton status="success" size="medium" (click)="preview()">預覽名單</button>
          <button nbButton status="primary" size="medium" (click)="submit()" [disabled]="this.validateForm.invalid">送出</button>
      </div>
  </div>
</div>
