<div class="fieldGroup" [ngClass]="{'error': hasError(), 'essential': required}" [formGroup]="form">
  <label>{{title}}</label>
  <div>
      <nb-select fullWidth [formControlName]="ctlName" placeholder="請選擇" *ngIf="!!selectList?.options">
          <nb-option *ngIf="!required" value="">{{placeholder}}</nb-option>
          <nb-option *ngFor="let option of selectList?.options" [value]="option[selectList.key]" (valueChange)="valueChangeFn(option[selectList.key])">{{ option[selectList.val] }}</nb-option>
        </nb-select>
      <nb-select fullWidth [formControlName]="ctlName" placeholder="請選擇" *ngIf="!selectList?.options">
        <nb-option *ngIf="!required" value="">{{placeholder}}</nb-option>
        <nb-option *ngFor="let enum of enumList |keyvalue" [value]="enum.key" (valueChange)="valueChangeFn(enum.key)">{{ enum.value }}</nb-option>
      </nb-select>
  </div>
  <!-- 欄位錯誤訊息 -->
  <div class="note errorText">
    <nb-icon icon="alert-triangle"></nb-icon>
    <p *ngIf=" (ctl.dirty || ctl.touched) && ctl?.errors?.required; else otherErr">此為必填欄位</p>
    <ng-template #otherErr>{{firstErr}}</ng-template>
  </div>
</div>