<div class="pageTitle">
    <h1>標籤審核</h1>
</div>
<div class="pageContent">
    <nb-card>
        <nb-card-header>
            <h2>查詢設定值</h2>
        </nb-card-header>
        <nb-card-body [formGroup]="validateForm">
            <div class="row">
                <div class="fieldGroup col-12 col-lg-6">
                    <label>標籤名稱</label>
                    <div>
                        <input nbInput fullWidth status="basic" type="text" placeholder="請輸入" formControlName="tagName"/>
                    </div>
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
                <div class="fieldGroup col-12 col-lg-6">
                    <label>狀態</label>
                    <div>
                        <nb-select fullWidth placeholder="請選擇" formControlName="reviewStatus">
                            <nb-option value="">全部</nb-option>
                            <nb-option *ngFor="let status of statusList" [value]="status.key">{{ status.val }}</nb-option>
                        </nb-select>
                    </div>
                    <!-- 欄位錯誤訊息 -->
                    <div class="note errorText">
                        <nb-icon icon="alert-triangle"></nb-icon>
                        <p>欄位錯誤訊息</p>
                    </div>
                </div>
            </div>
            <date-range [form]="validateForm"></date-range>
        </nb-card-body>
    </nb-card>
    <div class="row">
        <div class="btnGroup">
            <button nbButton status="basic" size="medium" (click)="reset()">清除</button>
            <button nbButton status="primary" size="medium" (click)="search()">查詢</button>
        </div>
    </div>
    <hr/>
    <nb-card>
        <nb-card-header>
            <h2>審核列表</h2>
        </nb-card-header>
        <nb-card-body>
            <div class="noteText">
                <nb-icon icon="info-outline"></nb-icon>
                <p>本日已審查之項目將留存於列表內，並標註為「同意」案件;每日00:00批次更新列表內容，欲查看「同意」案件請移至「該標籤」查詢相關歷程。</p>
            </div>
            <ng2-smart-table [settings]="gridDefine" [source]="dataSource"></ng2-smart-table>
            <paginator [source]="dataSource" [paginator]="paginator"></paginator>
        </nb-card-body>
    </nb-card>
</div>